@charset "utf-8";
/* レイアウトのためのCSS */
body{
    background:#ffffff;
    font-family: 'Noto Serif JP', serif;
	color: #555;
	font-size:1rem;
	line-height:1.85;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%; 
	word-wrap: break-word;
    letter-spacing: 0.2em;
}

body.appear{
    background:#f8f9fa;
}


ul{
	margin:0;
	padding: 0;
	list-style: none;
}

a{
	color: #555;
	text-decoration: none;
    outline: none;
}

img{
    width:100%;
    height: auto;
    vertical-align: bottom;
}

*{
    box-sizing: border-box
}

/* font-family */

h1,
#g-nav-list li:nth-child(1),
#menu h2,
#Access h2,
#footer dl dd,
#splash-logo{
    font-family:'Parisienne', cursive;
}

/* heading */
#menu h2,
#Access h2{
    font-size: 4rem;
    text-align: center;
    margin: 0 0 50px 0;
    font-weight: normal;
    color: #d9c780;
}

@media screen and (max-width:768px) {
#menu h2,
#Access h2{
    font-size: 3rem;
    }
    
}

/* area */

#container{
    overflow-x: hidden;
}

.inner{
    width:100%;
    margin:0 auto;
    padding:70px;
}

@media screen and (max-width:940px) {
.inner{
    padding:30px;
}
}

/* splash */

#splash-logo p{
    font-size:1.8rem;
    font-weight: normal;
    white-space: nowrap;
}

/* header */

.header-area{
    position: fixed;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    color: #fff;
    text-align: center;
}

.header-area h1{
    display: block;
    font-size: 6vw;
    font-weight: normal;
    line-height: 1;
    letter-spacing: 0;
    padding: 0 10px;
}

.header-area p{
    font-size: 1.3vw;
    letter-spacing: 0.4em;
    margin: 0 0 20px 0;
}

.header-area p br{
    display: none;
}


@media screen and (max-width:960px) {
.header-area h1{
    font-size:4rem;
}
.header-area p{
    font-size:0.8rem;
}

.header-area p br{
    display: block;
}

}

/* gnavi */

#g-nav-list li:nth-of-type(1) a{
    font-size: 2rem;
    text-transform: none;
    font-weight: normal;
    line-height: 1;
    white-space: nowrap;
    margin: 0 0 20px 0;
}

#g-nav-list li:nth-of-type(2){
    animation-delay: .2s;
}
#g-nav-list li:nth-of-type(3){
    animation-delay: .4s;
}
#g-nav-list li:nth-of-type(4){
    animation-delay: .6s;
}
#g-nav-list li:nth-of-type(5){
    animation-delay: .8s;
}
#g-nav-list li:nth-of-type(6){
    animation-delay: 1.1s;
}
#g-nav-list li:nth-of-type(7){
    animation-delay: 1.3s;
}
/* lead */

#lead{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top:140px;
}

#lead .lead-img{
     width:46%;
    min-height: 400px;
    background: url("../img/lead.jpg") no-repeat center;
    background-size: cover;
}

#lead .lead-area{
    width:52%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    flex-direction: row-reverse;
}

@media screen and (max-width:1060px) {
#lead .lead-img{
     width:30%;
}
#lead .lead-area{
    width:68%;
}
}

@media screen and (max-width:768px) {
#lead{
    flex-direction: column-reverse;
}

#lead .lead-img,
#lead .lead-area{
    width:100%;
} 
    
#lead .lead-img{
    min-height: 250px;
    }
    
#lead .lead-area{
    margin: 0 0 140px 0;
    min-height: 20em;
    justify-content: center;
}
}

#lead .lead-area h2,
#lead .lead-area p,
#lead .lead-area .lead-btn a{
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;    
    text-orientation: upright;
}

#lead .lead-area h2{
    width:28%;
    line-height:2.5;
    font-size:1.4rem;
}

#lead .lead-area p{
     width:48%;   
    padding: 50px 0 0 0;
    line-height: 2.8;
}

#lead .lead-area .lead-btn{
    width:10%; 
    position: relative;
    top: 240px;
}

#lead .btn04{
    padding:13px 15px;
}


@media screen and (max-width:1300px) {
#lead .lead-area h2{
    line-height:2;
}
#lead .lead-area p{
    line-height: 2.3;
}    
}

@media screen and (max-width:768px) {
#lead .lead-area .lead-btn{
    width:100%;
    top: 50px;
    text-align: center;
}
    
    .btn04{
        width:250px;
    }
    
#lead .lead-area h2,
#lead .lead-area p{
    width:auto;
} 
    
#lead .lead-area h2{
    margin:0 0 0 20px;
    line-height: 2.2;
}
    
#lead .lead-area p{
    line-height: 2;
}  
    
#lead .lead-area .lead-btn a{
    -ms-writing-mode: lr-tb;
    -webkit-writing-mode: horizontal-tb;
    writing-mode: horizontal-tb;
}

#lead .btn04{
    padding: 10px 30px;
}
    
}

@media screen and (max-width:470px) {
#lead .lead-area h2{
    line-height: 1.8;
}
#lead .lead-area p{   
    height: 23em;
}
    
_:-ms-lang(x)::-ms-backdrop, #lead .lead-area p{
    width:8em;
}
    
#lead .lead-area p br{
    display: none;
}
}

@media screen and (max-width:350px) {
#lead .lead-area h2{
    line-height: 1.6;
}
#lead .lead-area p {
    line-height: 1.8;
}
}

/* menu */

#menu{
    padding: 70px 0;
}

#menu section{
    background: #fff;
    margin: 0 0 10px 0;
}

#menu section h3{
    font-size: 0.9rem;
    margin: 0 0 10px 0;
}

#menu section p{
    font-size: 0.8rem;
}

#menu .menu-area{
    padding: 20px;
    box-shadow: 5px 0 10px #ccc;
}

#menu .menu-btn{
    text-align: center;
    margin: 50px 0 0 0;
}

/* contact */

#contact{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}

#contact .contact-img{
    width:70%;
    min-height: 300px;
    background:url("../img/contact.jpg") no-repeat center;
    background-size: cover;
}

#contact .contact-area{
    width:25%;
    text-align: center;
}

@media screen and (max-width:1190px) {
#contact .contact-img{
    width:60%;
    }
#contact .contact-area{
    width:35%;
    }
}

@media screen and (max-width:768px) {
#contact .contact-img{
    width:48%;
    }
#contact .contact-area{
    width:48%;
    }
}

@media screen and (max-width:600px) {
#contact .contact-img,
#contact .contact-area{
    width:100%;
    }
#contact .contact-img{
        margin:0 0 50px 0;
}
}

#contact .contact-area h2{
     font-size:1.3rem;   
    margin:0 0 10px 0;
}

#contact .contact-area dt{
     font-size:1.2rem;   
    margin:0 0 10px 0;
}

#contact .contact-area dd{
    font-size: 0.8rem;
    margin:0 0 30px 0;
}

/* Map */

.access-area{
    aspect-ratio: 16 / 9;
    max-width: 1000px;
    width: 100%;
    height: auto;
}

/* footer */

#footer{
    border-top: 1px solid #ccc;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

#footer dl{
     width:30%;   
}

#footer dl dt{
    font-size: 0.8rem;
}

#footer dl dd{
    font-size: 2rem;
}

@media screen and (max-width:900px) {
    #footer dl{
        margin: 50px 0;
    }
}

@media screen and (max-width:768px) {

#footer dl dd{
    font-size: 1.5rem;
}
    
}

#footer .footer-list{
     width:65%; 
    text-align: right;
}

#footer ul li{
    display: inline-block;
    padding: 0 10px;
    font-size: 0.8rem;
    line-height: 3;
}

#footer small{
    text-align: right;
    margin: 20px 0 0 0;
    display: block;
    width: 100%;
    font-size: 0.7rem;
}

#footer #page-top span{
    display: inline-block;
  width: 13px;
  height: 13px;
  border-top: 4px solid #fff;
  border-left: 4px solid #fff;
  transform: rotate(45deg);
}


@media screen and (max-width:900px){
#footer dl,
#footer .footer-list,
#footer small{
    width:100%;
    text-align: center;
}
    
}
