@charset "UTF-8";

html {
    font-size: 100%;
    /*ブラウザ基準の16px=1em=1rem（root em）*/
}

body {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    line-height: 1.7;
    color: black;
    min-width: 1200px;
}

.page-header {
    display: flex;
    justify-content: space-between;
    padding-top: .5rem;
}


.catch-phrase {
    margin-bottom: 60px;
}

a {
    text-decoration: none;
    color: black;
}


img {
    border-radius: 20px;
}

.heading-large {
    text-align: center;
}


.align-center{
    margin-left: 80px;
    margin-top: 20px;
}

/* モーダルを開くボタンのスタイル */
.open-modal {
    position: absolute;
    /* ボタンをページ上に絶対位置で配置 */
    top: 50%;
    /* ボタンを縦方向に中央に配置 */
    left: 60%;
    /* ボタンを横方向に中央に配置 */
    font-size: 18px;
    /* ボタン内のテキストのフォントサイズ */
    font-weight: bold;
    /* テキストのフォントを太字に設定 */
    color: #fff;
    /* ボタンのテキストカラーを白に設定 */
    border: #000;
    /* ボタンの境界線を黒に設定 */
    border-radius: 14px;
    /* ボタンの角を丸くするための半径 */
    cursor: pointer;
    /* カーソルがホバーした時にポインタが表示されるように設定 */
    transform: translate(-50%, -50%);
    /* 中央に位置するための補正 */
}

/* モーダルウィンドウの基本スタイル */
.modal {
    display: none;
    /* デフォルトでは非表示に設定 */
    position: fixed;
    /* モーダルがページ全体に固定されるように設定 */
    top: 0;
    /* ページの最上部からスタート */
    left: 0;
    /* ページの最左端からスタート */
    width: 100%;
    /* モーダルが画面全体の幅を占める */
    height: 100%;
    /* モーダルが画面全体の高さを占める */
    background-color: rgba(0, 0, 0, 0.4);
    /* 背景を半透明の黒に設定（モーダルの背後が見えるように） */
}

.modal-content {
    position: fixed;
    /* モーダル内容が画面上に固定されるように設定 */
    top: 50%;
    /* 縦方向の中央に配置 */
    left: 50%;
    /* 横方向の中央に配置 */
    transform: translate(-50%, -50%);
    /* 完全に中央に配置するための補正 */
    padding: 20px;
    /* モーダル内の余白を設定 */
    width: 300px;
    /* モーダルの幅 */
    height: 60px;
    /* モーダルの高さ */
    background-color: #fefefe;
    /* モーダルの背景色を白に設定 */
    border: 1px solid #888;
    /* 境界線の色を薄いグレーに設定 */
    border-radius: 10px;
    /* モーダルの角を丸くするための半径 */
}

/* モーダルを閉じるボタン（×）のスタイル */
#closeModal {
    position: absolute;
    /* モーダル内で絶対位置に配置 */
    display: flex;
    /* ボタン内のテキストが中央に配置されるようにフレックスボックスを使用 */
    align-items: center;
    /* ボタン内のテキストを縦方向に中央揃え */
    justify-content: center;
    /* ボタン内のテキストを横方向に中央揃え */
    top: -0%;
    /* モーダル内容の上部から離れた位置に配置 */
    right: -10%;
    /* モーダル内容の右端から離れた位置に配置 */
    font-size: 28px;
    /* 閉じるボタンのフォントサイズ */
    font-weight: bold;
    /* 閉じるボタンのフォントを太字に設定 */
    cursor: pointer;
    /* ホバー時にポインタが表示されるように設定 */
    color: #FFF;
    /* 閉じるボタンのテキストカラーを白に設定 */
    width: 40px;
    /* ボタンの幅 */
    height: 40px;
    /* ボタンの高さ */
    background-color: #333;
    /* ボタンの背景色をダークグレーに設定 */
    border: #333;
    /* ボタンの境界線を背景と同じ色に設定 */
    border-radius: 50%;
    /* ボタンを丸くするための半径 */
}

/* header */
:root {
    font-family: "Lato", sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;

    font-size: 1.25rem;
}

/*-------
 header
--------*/

.header-bar {
    height: 80px;
    display: flex;
    justify-content: flex-end;
}

.header-bar>* {
    flex: auto;
}

/* header-menu */
.header-menu,
.language {
    display: flex;
}

.header-menu {
    width: 190px;

    position: relative;
    cursor: pointer;
}

.header-menu-container {
    flex: initial;

    display: flex;
}

.header-menu-title {
    width: 100%;
    height: 100%;

    display: grid;
    place-items: center;
}

.header-menu-item-container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 0;

    transition: height 0.5s;
    overflow: hidden;
    position: absolute;
    top: 80px;
    list-style: none;
    background-color: #3f3f3f;
}

.header-menu-item-container.open {
    height: 200px;
}

.header-menu-item {
    text-align: center;
    color: white;

    padding: 8px 10px;
}

.header-menu-item:hover {
    background-color: #1b1b1b;
}

.snsicon {
    text-align: right;
}

.icon {
    margin-bottom: 20px;
}

.main-title h2 {
    font-size: 180px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    letter-spacing: .1em;
}

.catch-phrase {
    line-height: 2;
    font-size: 20px;
    margin-left: 120px;
}

/* product */

.heading-large {
    display: flex;
    /* フレックスボックスを適用 */
    align-items: center;
    /* 垂直方向で中央揃え */
    justify-content: center;
    /* 水平方向で中央揃え */
    margin-bottom: 60px;
}

.heading-large:before,
.heading-large:after {
    content: "";
    /* 疑似要素の生成 */
    height: 1px;
    /* 線の太さ */
    width: 100px;
    /* 線の長さ */
    background-color: #666;
    /* 線の色 */
}

.heading-large:before {
    margin-right: 1rem;
    /* 左側の余白 */
}

.heading-large:after {
    margin-left: 1rem;
    /* 右側の余白 */
}

.wrap {
    display: flex;
    align-items: center;
    height: 340px;
    overflow: hidden;
}

.slideshow {
    display: flex;
}

.content {
    width: 300px;
    height: 300px;
}


ul {
    list-style: none;
}

.slideshow {
    display: flex;
    animation: loop-slide 20s infinite linear 1s both;
}

@keyframes loop-slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}





/* ニュース */
.last {
    margin-top: 100px
}

.cover-menu {
    background-image: url(../images/cover-menu-s.webp);
}

.lineup-autoplay {
    display: flex;
}

.grid {
    display: grid;
    gap: 2rem 1.5rem;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
}


.item img {
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 16px;
    border-radius: 16px;
    margin: 0px 20px 0px 20px;
}

.item p {
    font-size: .875rem;
    text-align: center;
}

.price {
    display: block;
}

.info {
    display: flex;
}

.page-footer {
    display: flex;
}

.news-font-english {
    border-right: 2px solid black;
}

.interrior {
    margin-left: 80px;
}


.news-container {
    display: flex;
    /* 横並びにする */
    align-items: flex-start;
    /* 上揃え */
    align-items: center;
    justify-content: center;
    /* 水平方向で中央揃え */
    max-width: 800px;
    margin: 0 auto;
}

.news-title {
    font-size: 30px;
    font-weight: bold;
    margin-right: 20px;
    /* タイトルと内容の間のスペース */
    position: relative;
}

.news-title::after {
    content: '';
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    width: 3px;
    height: 120px;
    background-color: #000;
    margin-left: 10px;
}

.news-content {
    margin-left: 50px;
    flex: 1;
    /* コンテンツ部分が残りの幅を占有 */
}

.news-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

.news-date {
    font-size: 14px;
    color: #555;
    margin-right: 20px;
    flex: 0 0 100px;
    text-align: right;
}

.news-text {
    font-size: 14px;
    color: #333;
}


/* トップに戻るボタン */

.pagetop {
    cursor: pointer;
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: .3s;
    background: #fff;

    /*   デフォルトは非表示 */
    opacity: 0;
}

.pagetop:hover {
    box-shadow: 0 0 5px #000;
}

footer{
    text-align: center;
    margin-top: 50px;
    font-size: 15px;
    color: #999;
}