body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

main {
    padding: 20px;
    text-align: center;
}

h1, h2 {
    color: #333;
}

#books {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.book {
    background-color: #fff;
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 150px;
    text-align: center;
}

.book img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.book p {
    margin: 10px 0 0;
    font-size: 16px;
    color: #333;
}

.book a {
    text-decoration: none;
    color: inherit;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

        .cart-button {
            position: fixed;
            top: 10px;
            right: 10px;
            padding: 10px 20px;
            background-color: #ff5733;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            text-decoration: none;
            font-size: 16px;
        }
 