@charset "UTF-8";

/* 共通の初期設定
------------------------------- */
html {
    font-size: 100%; /*ブラウザ基準の16px=1em=1rem（root em）*/
    scroll-behavior: smooth;
}
body {
    font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", "BIZ UDPGothic", sans-serif;
    line-height: 1.7;
    color: #432;
}
a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* Layout */
.align-center {
    text-align: center;
}
.wrapper {
    max-width: 1120px;
    margin: auto;
    padding: 0 1.5rem;
}
/* 見出し */
.font-english {
    font-family: "Jost", sans-serif;
    font-style: normal;
    font-weight: 600;
}

.page-title,
.heading-large,
.heading-medium {
    font-size: 3rem;
    text-align: center;
}


.heading-large {
    margin-bottom: 1rem;
}

.heading-medium {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    line-height: 1;
    margin-bottom: 1.5rem;
}
.heading-medium::before,
.heading-medium::after {
    content: '';
    width: 40px;
    height: 2px;
    background-color: #432;
    margin: 0 1.5rem;
}
.heading-medium::before {
    transform: rotate(45deg);
}

.heading-medium::after {
    transform: rotate(-45deg);
}



@media (min-width:800px) {
    .page-title {
        font-size: 5rem;
    }
    .heading-large {
        font-size: 4rem;
    }
}

/* btn */
.btn {
    display: inline-block;
    font-size: 1rem;
    background-color: rgb(189, 183, 177);
    color: #fff;
    border-radius: 8px;
    padding: .75rem 1.5rem;
    transition: .5s;
}
.btn:hover {
    background-color: rgb(200, 218, 218);
    transform: scale(1.2);
}

/* header
------------------------------- */
.page-header {
    padding-top: 0.5rem;
}

.logo {
    width: 210px;
}

.main-nav {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    list-style: none;
    gap: 2.5rem;
}
.main-nav a {
    color: #432;
    padding-bottom: .2rem;
    transition: .5s;
    border-bottom: 3px solid rgba(68, 51, 34, 0);
}
.main-nav a:hover {
    border-bottom: 3px solid rgba(68, 51, 34, 1);
}

@media (min-width:800px)  {
    .page-header {
        display: flex;
        justify-content: space-between;
        padding-top: 1.5rem;
    }
    .main-nav {
        font-size: 2rem;
    }
}
/* header-cover
------------------------------- */
.cover {
    background-size: cover;
    background-position: center bottom;
    height: 800px;
}

.sub-covrer{
    background-size: cover;
    background-position: center bottom;
    height: 528px;
    margin-bottom: 4rem;/*16px*4=64px*/
}

@media (min-width:800px) {
    .sub-cover {
        height: 400px;
        margin-bottom: 6rem;
    }
}

/* 飛行機アニメーション
------------------------------- */
.stage {
    width: 100%;
    margin-top: 100px;
    overflow: hidden;
}
.stage img {
    width: 500px;
}

.anime1 {
    animation: trans1 10s linear 0s infinite;
}

@media (min-width:800px) {
    .anime1 {
        animation: trans1 20s linear 0s infinite;
    }
}

@keyframes trans1 {
    0%{transform: translateX(110%);}
    100%{transform: translateX(-10%);}
}




/* footer
------------------------------- */
.page-footer {
    background-color: #f2f9fb;
    background-image: url(../images/footer.png);
    background-size: cover;
    background-position: center;
    padding-top: 10rem;
    margin-top: 5rem;
}


.info {
    width: 100%;
    max-width: 544px;
    margin: auto;
    padding: 1.5rem;
    border-spacing: 0;
}

.info th,
.info td {
    border-bottom: 1px solid #c9c2bc;
}

.info th {
    text-align: left;
    font-weight: normal;
    padding: 1rem;
}

.info td {
    padding: 1rem 0;
}

.copyright {
    background-color: rgb(175, 172, 168);
    text-align: center;
    padding: 2rem 0;
    margin-top: 3rem;
    color: #fff;
}

@media (min-width: 800px) {
    .info th {
        padding-left: 2.5rem;
    }
    .info-box {
        max-width: 736px;
        margin: auto;
        padding: 2rem;
        background-color: rgba(255, 255, 255, .5);
        box-shadow: 0 0 10px rgba(0, 0, 0, .1);
        border-radius: 1rem;
    }
}


/* 
hamburger(ハンバーガーアイコン)
=================================== */
.hamburger {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 50px;
    height: 40px;
    cursor: pointer;
    z-index: 300;
  }
  
  .hamburger__line {
    position: absolute;
    width: 50px;
    height: 3px;
    right: 0;
    background-color: #fff;
    transition: all 0.5s;
  }
  
  .hamburger__line--1 {
    top: 1px;
  }
  
  .hamburger__line--2 {
    top: 18px;
  }
  
  .hamburger__line--3 {
    top: 36px;
  }
  
  /*ハンバーガーがクリックされたら*/
  .open .hamburger__line--1 {
    transform: rotate(-45deg);
    top: 11px;
  }
  
  .open .hamburger__line--2 {
    opacity: 0;
  }
  
  .open .hamburger__line--3 {
    transform: rotate(45deg);
    top: 11px;
  }
  
  /* 
  sp-nav(ナビ)
  =================================== */
  .sp-nav {
    position: fixed;
    right: -100%; /*ハンバーガーがクリックされる前はWindow右側に隠す*/
    top: 0;
    width: 70%; /* 出てくるスライドメニューの幅 */
    height: 100vh;
    background-color: #fff;
    transition: all 0.5s;
    z-index: 200;
    overflow-y: auto; /* メニューが多くなったらスクロールできるように */
  }
  
  /*ハンバーガーがクリックされたら右からスライド*/
  .open .sp-nav {
    right: 0;
  }
  
  
  /* 
  black-bg(ハンバーガーメニュー解除用bg)
  =================================== */
  .black-bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    cursor: pointer;
    z-index: 100;
  }
  
  /*ハンバーガーメニューが開いたら表示*/
  .open .black-bg {
    opacity: 0.3;
    visibility: visible;
  }

/*ドロップアウト*/
.gnavi__wrap {
  width: 1200px;
  margin: 0 auto;
}
.gnavi__lists {
  display: flex;
}
.gnavi__list {
  width: 20%;
  height: 60px;
  background-color: rgba(0,0,0, .1);
  border: 1px solid #fff;
  position: relative;
  transition: all .3s;
}
.gnavi__list:hover {
  background-color: rgba(0, 0, 0, .3);
  border: none;
}
.gnavi__list:not(:first-child)::before {
  content: "";
  width: 1px;
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .3s;
}
.gnavi__list:hover::before {
  background-color: rgba(0, 0, 0, .3);
}
.gnavi__list a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  letter-spacing: 0.05em;
  font-weight: 600;
  transition: all .3s;
}
.gnavi__list:hover a {
  color: #fff;
}

  .dropdown__lists {
    display: none;/*デフォルトでは非表示の状態にしておく*/
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
  }
  .gnavi__list:hover .dropdown__lists {
    display: block;/*Gナビメニューにホバーしたら表示*/
  }
  .dropdown__list {
    background-color: rgba(0, 0, 0, .3);
    height: 60px;
    transition: all .3s;
    position: relative;
  }
  .dropdown__list:not(:first-child)::before{
    content: "";
    width: 100%;
    height: 1px;
    background-color: rgba(118, 118, 127, 0.5);
    position: absolute;
    top: 0;
    left: 0;
  }
  .dropdown__list:hover {
    background-color: rgba(0, 0, 0, .1);
  }
  .dropdown__list a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-decoration: none;
    position: relative;
  }
  .dropdown__list a::before {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    transform: rotate(135deg);
    position: absolute;
    right: 15px;
    top: calc(50% - 5px);
  }

.dropdown__lists{
  list-style-type: none;
  padding: 0;
}
ul{
  list-style-type: none;
}

.sp-nav{
    width: 300px;
    height: 500px;
    background-color: rgba(237, 221, 221, 0.1);
    padding-top:5rem ;
    text-align: center;
    font-size: 5rem;
}
.sp-nav a{
    color: #fff;
}
.page-title{
    margin-top: 10rem;
    text-align: center;
    color: #fff;
}

.modalArea {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

.modalBg {
    width: 100%;
    height: 100%;
    background-color: rgba(30,30,30,0.5);
    z-index: 9999;
}


  .modalWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 70%;
  max-width: 500px;
  padding: 10px 30px;
  background-color: #fff;
}

.closeModal {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  cursor: pointer;
}
.openModal{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
