@charset "UTF-8";

/* home
------------------------------- */
.cover-home {
    background-image: url(../images/hea2.png);
}

.about {
    max-width: 736px;
    padding: 2rem;
    margin: 3rem auto 4rem;
}

.about p {
    margin-bottom: 3rem;
    text-align: justify; /*独自に追記*/
}

.menu-list {
    max-width: 1200px;
    margin: 10rem auto 0;
}

.lineup .item {
    /* max-width: 300px; */
    text-align: center;
    margin: 0 1rem;
}
.lineup img{
    border-radius: 1rem;
    height: 250px;
    width: 250px;
    object-fit: cover;
}
.menu-list button {
    display: none!important;
}

@media (min-width:800px) {
    .cover-home {
        background-image: url(../images/hea2.png);
    }
    .about {
        background-color: rgba(255, 255, 255, .5);
        box-shadow: 0 0 10px rgba(0, 0, 0, .1);
        margin-top: -100px;
        border-radius: 1rem;
    }
}