/* 
hamburger(ハンバーガーアイコン)
=================================== */
.hamburger {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 50px;
  height: 40px;
  cursor: pointer;
  z-index: 300;
}

.hamburger__line {
  position: absolute;
  width: 50px;
  height: 3px;
  right: 0;
  background-color: palevioletred;
  transition: all 0.5s;
}

.hamburger__line--1 {
  top: 1px;
}

.hamburger__line--2 {
  top: 18px;
}

.hamburger__line--3 {
  top: 36px;
}

/*ハンバーガーがクリックされたら*/
.open .hamburger__line--1 {
  transform: rotate(-45deg);
  top: 11px;
}

.open .hamburger__line--2 {
  opacity: 0;
}

.open .hamburger__line--3 {
  transform: rotate(45deg);
  top: 11px;
}

/* 
sp-nav(ナビ)
=================================== */
.sp-nav {
  position: fixed;
  left: -100%; /*ハンバーガーがクリックされる前はWindow右側に隠す*/
  top: 0;
  width: 30%; /* 出てくるスライドメニューの幅 */
  height: 100vh;
  background-color: #fcc;
  transition: all 0.5s;
  z-index: 200;
  overflow-y: auto; /* メニューが多くなったらスクロールできるように */
}

/*ハンバーガーがクリックされたら左からスライド*/
.open .sp-nav {
  left: 0;
}

.sp-nav ul li a {
  font-size: 32px;
  color: white;
}


/* 
black-bg(ハンバーガーメニュー解除)
=================================== */
.black-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  cursor: pointer;
  z-index: 100;
}

/*ハンバーガーメニューが開いたら表示*/
.open .black-bg {
  opacity: 0.3;
  visibility: visible;
}

/*ドロップアウト*/
.gnavi__wrap {
  width: 1200px;
  margin: 0 auto;
}
.gnavi__lists {
  display: flex;
  list-style: none;
}
.gnavi__list {
  width: 20%;
  height: 60px;
  background-color: palevioletred;
  position: relative;
  transition: all .3s;
}
.gnavi__list:hover {
  background-color: pink;
}
.gnavi__list:not(:first-child)::before {
  content: "";
  width: 1px;
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .3s;
}
.gnavi__list:hover::before {
  background-color: #d87093;
}
.gnavi__list a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  letter-spacing: 0.05em;
  font-weight: 600;
  transition: all .3s;
}
.gnavi__list:hover a {
  color: #fff;
}

.dropdown__lists {
  display: none;/*デフォルトでは非表示の状態にしておく*/
  width: 100%;
  position: absolute;
  top: 60px;
  left: 0;
}
.gnavi__list:hover .dropdown__lists {
  display: block;/*Gナビメニューにホバーしたら表示*/
}
.dropdown__list {
  background-color: pink;
  height: 60px;
  transition: all .5s;
  position: relative;
  list-style: none;
}


.dropdown__list:not(:first-child)::before{
  content: "";
  width: 100%;
  height: 1px;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
}
.dropdown__list:hover {
  background-color: palevioletred;
}
.dropdown__list a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
  position: relative;
}
.dropdown__list a::before {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  transform: rotate(135deg);
  position: absolute;
  right: 15px;
  top: calc(50% - 5px);
}


  
  
.modalArea {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(239, 184, 224, 0.3);
  justify-content: center;
  align-items: center;
  z-index: 10000;
}
.modalArea {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(239, 184, 224, 0.3);
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.modalBg {
  width: 100%;
  height: 100%;
  background-color: rgba(30,30,30,0.5);
  z-index: 9999;
}
.modalBg {
  width: 100%;
  height: 100%;
  background-color: rgba(30,30,30,0.5);
  z-index: 9999;
}


.modalWrapper {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
width: 70%;
max-width: 500px;
padding: 10px 30px;
background-color: #fff;
}

.closeModal {
position: absolute;
top: 0.5rem;
right: 1rem;
cursor: pointer;
}

.menu-list img{
width: 200px;
height: 200px;
aspect-ratio: 1 / 1;
object-fit: cover;
justify-content: space-between;
}

.item{
text-align: center;
}


