* {
    box-sizing: border-box;   /* 余白を大きさに含める */
}

body {
    margin: 0;     /* 要素の「外側」に空白 */
    font-size: 1.25rem;
}

a {
    text-decoration: none;  /* リンクの下線を消す */
}

img {
    max-width: 100%;   /* 画像の大きさの最大値 */
}


/*-------------- header ---------------*/
.header-bar {
    height: 80px;
    border-bottom: solid #2c2c2c 1px;

    display: flex;   /*　親要素に対して子要素を横並びにする */
    justify-content: flex-end;   /* 横並びの要素を右寄せで配置する指定 */
}

.header-bar>* {
    flex: auto;   /* 小アイテム要素は空き領域を埋めるよう伸縮する */
}


/*　-------------- ham --------------　*/
.ham-button {
    height: 100%;
    border: none;
    padding: 10px 10px 10px 20px;  /* 要素の「内側」に余白をつける */

    background-color: initial;    /* 要素にプロパティの初期値（または既定値）を設定 */
    cursor: pointer;              /* マウスポインターが要素の上にいるときに表示されるマウスカーソルを設定 */
    position: relative;           /* 要素のもとのあった場所を起点 */
    z-index: 3;                   /* ブロックの重なり順を指定 */ 
}

.ham-icon {
    display: flex;
    flex-direction: column;       /* 段の幅 */
    align-items: center;          /* 上下のどこで揃えるか */
    gap: 8px;                     /* 行や列の間のすき間（溝）を設定 */
}

.ham-icon .bar {
    width: 32px;
    height: 4px;

    display: block;           /* 要素が横いっぱいに広がる */
    background-color: #434343;
}

.ham {
    height: 80vh;
    width: 350px;
    padding-top: 80px;

    position: absolute;          /* 親要素を起点として位置を決定 */
    z-index: 2;
    top: 0;
    /* 「transform: translateX(-100%);」・・・要素をその自身の幅の100%だけ水平方向にマイナス方向（左に）移動させるCSSプロパティ */
    /* 「calc」・・・プロパティの値に計算式を使うことが出来る関数 */
    transform: translateX(calc(-100% - 3px));
    transition: transform 1s;
    background-color: white;
    box-shadow: 3px 0 6px rgb(0 0 0 / 25%);
    font-size: 1.5rem;
}

.ham-c.open .ham {
    transform: translateX(0);
}

.nav-b {
    margin: 0;
    padding: 0 20px;

    list-style: none;
}

.nav-i {
    padding-top: 25px;

    border-bottom: solid #E9E9E9 1px;
    cursor: pointer;  /* マウスポインターが要素の上にいる時に表示されるマウスカーソルを表示 */
}

.nav-i:hover {
    background-color: #E9E9E9;
}


/*　-------------- menu　-------------- */
.menu {
    width: 190px;

    position: relative;  /* 要素の現在位置を基準に相対位置を指定 */
    cursor: pointer;
}

.menu-c {
    flex: initial;  /* 伸長はしないが、縮小することができる */

    display: flex;
}

.title {
    width: 100%;
    height: 100%;

    display: grid;
    place-items: center;  /* アイテムをブロック方向とインライン方向の両方に一度に配置 */
}

.menu-b {
    margin: 0;
    padding: 0;
    width: 100%;

    transition: clip-path 0.5s;  /* clip-path・・・要素を複雑な形状にクリッピングするための便利なツール */
    clip-path: inset(0 0 100%);
    overflow: hidden;            /* はみ出したものを見えなくする */
    position: absolute;          /* 要素を親要素を基準に絶対位置に配置し、親要素が「position: relative」を持っている場合その位置が基準になる */
    top: 80px;
    list-style: none;
    background-color: #3f3f3f;
}

.menu-b.open {
    clip-path: inset(0 0 0);
}

.menu-i {
    text-align: center;
    color: white;

    padding: 8px 10px;
}

.menu-i:hover {
    background-color: #1b1b1b;
}


/*　-------------- home　-------------- */
.home-cover {
    text-align: center;
    color: #fff;
    height: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(247, 107, 198);
}


/*　-------------- slide　-------------- */
.slide-list {
    margin: 10rem auto 0;
}

h2 {
    text-align: center;
}

.lineup .item {
    max-width: 300px;
    text-align: center;
    margin: 0 1rem;
}

.item img {
    aspect-ratio: 1/1;    /* 横と縦の長さが等しい正方形 */
    object-fit: cover;    /* 置換要素を表示領域に合わせてフィットさせることができる */
    border-radius: 25%;
}

.slide-list button {
    display: none!important;
}


/*　-------------- 空白　-------------- */
.space {
    height: 13rem;
}


/*　-------------- SNS　-------------- */
.wrapper {
    max-width: 1120px;
    margin: auto;
    padding: 0 1.5rem;
}



.sns-detail {
    margin-bottom: 2rem;
}

.sns-youtube {
    aspect-ratio: 16/9;
}

.sns-youtube iframe {
    height: 100%;
}

@media (min-width:800px) {
    .sns {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    margin-bottom: 0;
    }
    .sns-detail {
        flex: 1;
    }
}


/*　-------------- フッター　-------------- */
.page-footer {
    background-size: cover;
    background-position: center;
    padding-top: 12rem;
}

.copyright {
    background-color: rgba(173, 34, 124);
    text-align: center;
    padding: 2rem 0;
    margin-top: 6rem;
    color: #fff;
}