@charset "UTF-8";

.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  animation-name: show;
  animation-duration: 0.5s
}

.modal-content {
  position: relative;
  background-color: #E9E9E9;
  margin: 10% auto;
  border: 1px solid #888;
  width: 80%;
}

@keyframes show {
  0% {
    display: none;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

.modal-header {
  padding: 12px;
  background-color: #E9E9E9;
  color: black;
}

.modal-body {
  padding: 12px;
}

.modal-footer {
  position: relative;
  background-color: #E9E9E9;
  margin: auto;
  padding: 12px;
}

.close {
  color: #1b1b1b;
  float: right;
  font-size: 16px;
}

.close:hover,
.close:focus {
  color: black;
  cursor: pointer;
}

.copyright {
  background-color: #432;
  text-align: center;
  padding: 2rem 0;
  margin-top: 6rem;
  color: #fff;
  position: absolute;
  bottom: 0;
}

.btn1 {
  display: inline-block;
  font-size: 1rem;
  background-color: #888;
  color: #fff;
  border-radius: 8px;
  padding: .75rem 1.5rem;
  transition: .5s;
}
.btn1:hover {
  background-color: #432;
  transform: scale(1.2);
}