@charset "UTF-8";

title {
    font-size: 0;
}



/* ヘッダーメニュー */
.dropdwon {
    color: #ffffff;
    display: flex;
    text-align: center;
    font-family: "New Tegomin", serif;
    font-weight: 400;
    font-style: normal;
    height: 135px;
    width: 100%;
    justify-content: center;
    /* margin: auto; */
    background-color: #205946;
}

/* ドロワーメニュー */

.drowermenu{
    width: 100px;
    height: 100px;
}

.leftmenu {
    width: 100px;
    height: 100%;
    border: none;
    margin: 10px 10px 10px 20px;

    background-color: initial;
    cursor: pointer;
    position: relative;
    /*上に配置*/
    z-index: 3;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 45px;
}

.icon .box {
    width: calc((6px + 8px + 6px + 8px) * 1.4142);
    height: 4px;
/* コンテンツをまとめる */
    display: block;
    background-color: #89c3eb;
    transform-origin: left center;
    transition: 1s;
    border-radius: 7.5px;
}

.drowermenu.open .icon .box.first {
    transform: rotate(45deg);
}

.drowermenu.open .icon .box.two {
    opacity: 0;
}

.drowermenu.open .icon .box.three {
    transform: rotate(-45deg);
}

.drower {
    height: 100vh;
    width: 310px;
    padding-top: 80px;

    position: absolute;
    z-index: 2;
    top: 0;
    transform: translateX(calc(-100% - 3px));
    transition: transform 1s;
    background-color: #205946;
    box-shadow: 3px 0 6px rgb(0 0 0 / 25%);
    font-size: 1.5rem;
}

.drowermenu.open .drower {
    transform: translateX(0);
}

.fuunako {
    margin: 0;
    padding: 0 20px;

    list-style: none;
}

.fuu {
    padding-top: 25px;

    border-bottom: solid #E9E9E9 1px;
    cursor: pointer;
}

.fuu:hover {
    background-color: #1e4e3d;
}

.end {
    width: 100vw;
    height: 100vh;

    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #000;
    opacity: 0;
    transition: opacity 1s;
}

.drowermenu.open .end {
    pointer-events: auto;
    opacity: 25%;
}

/*ドロップダウンメニュー　開いたとき*/
.menu-chara.open {
    height: 165px;
    width: 183px;
    padding-top: 15px;
}


.menu-h {
    display: flex;
    margin: auto;
    width: 774px;
    height: 135px;
    font-size: 20px;
    padding: 5px;
    margin-right: 50px;
}

/*ulタグ　ドロップダウンメニュー閉じた状態*/
.menu-chara {
    margin: 0;
    padding: 0;
    width: 183px;
    height: 0;
    transition: height 0.5s;
    /* 隠蔽状態にする組み合わせ */
    overflow: hidden;
    position: absolute;
    list-style: none;
    /* top: 115px; */
    background-color: #205946;
    left: 5px;
    padding-top: 15px;
}

/*リストタグ*/
.chara-list {
    padding: 10px;
    text-align: center;
}

ul {
    list-style: none;
    padding: 20px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

.menu,
.menu-c {
    /*隙間余白を自動で埋め尽くす*/
    margin: auto;
    width: 190px;
    /* height: 135px; */
    position: relative;
    cursor: pointer;
}

.menu-c {
    padding-top: 58px;
    width: 190px;
    height: 135px;
}

.menu,
ul {
    margin: auto;
}

section{
    margin: 100px;
  }
  
  /* モーダルを開くボタン */
  .m-open{
    position: fixed;
    /* top: 50%; */
    right: 10px;
    bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    width: 60px;
    height: 60px;
    color: #fff;
    background: #205946;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    z-index: 500;
  }
  
  /* モーダルと背景の指定 */
  .modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(0,0,0,50%);
    padding: 40px 20px;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    box-sizing: border-box;
    /*最前面へ指定*/
    z-index: 500;
  }
  
  /* モーダルの擬似要素の指定 */
  .modal:before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    margin-left: -0.2em;
  }
  
  /* クラスが追加された時の指定 */
  .modal.is-active{
    opacity: 1;
    visibility: visible;
  }
  
  /* モーダル内側の指定 */
  .m-container{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    max-width: 600px;
    width: 90%;
  }
  
  /* モーダルを閉じるボタンの指定 */
  .m-close{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -20px;
    right: -20px;
    width: 40px;
    height: 40px;
    color: #fff;
    background: #205946;
    border-radius: 50%;
    cursor: pointer;
  }
  
  /* モーダルのコンテンツ部分の指定 */
  .m-content{
    background: #fff;
    text-align: left;
    line-height: 1.8;
    padding: 20px;
  }
  
  /* モーダルのコンテンツ部分のテキストの指定 */
  .m-content p{
    margin: 1em 0;
  }

/*タイトル*/
.name {
    padding: 75px;
    margin: 250px;
}

.sub {
    padding: 50px;
    margin: 45px;
}

h1,
h2 {
    text-align: center;
    font-family: "New Tegomin", serif;
    font-weight: bold;
    font-style: normal;
}

/*タイトルフォントサイズ*/
h1 {
    font-size: 50px;
}

h2 {
    padding: 55px;
    font-size: 30px;
}

section {
    padding: 50px;
}

.sub p {
    font-size: 30px;
}

.syousai {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.setumei {
    margin: auto;
    position: relative;
    text-align: center;
    width: 434px;
    height: 580px;
}

.setumei p {
    position: absolute;
    top: 50%;
    width: 434px;
    height: 580px;
    text-align: center;
    font-size: 27px;
}

.illust-n {
    background-color: #323d66;
    width: 526px;
    height: 681px;
    margin: auto;
}

/*イラストサイズ*/
.illust-n img {
    width: 526px;
    height: 681px;
}

/*装飾棒*/
#dream {
    justify-content: center;
    position: relative;
    height: 190px;
}

.dream-border1 {
    width: 345px;
    height: 7px;
    background-color: #000;
    margin: 26px;
    position: absolute;
    top: 0;
}

.dream-border2 {
    width: 274px;
    height: 7px;
    background-color: #000;
    margin: 26px;
    position: absolute;
    top: 52px;
}

.border2 {
    transform: scaleX(-1) scaleY(-1);
    right: 0;
}

/*説明文*/
p small {
    font-size: 20px;
}

/*夢にででくる人たちの部分*/
.dream {
    display: flex;
    height: 637px;
    margin: auto;
}

.dream img {
    width: 278px;
    height: 348px;
}

.M {
    background-color: rgb(147, 21, 21);
}

.V {
    background-color: #c0c009;
}

.N {
    background-color: #d19917;
}

.V,
.M,
.N {
    width: 278px;
    height: 348px;
    margin: auto;
}

/*アイテム部分*/
.itemmap {
    display: flex;
}

.item-up {
    display: flex;
    margin: auto;
}

.item-big {
    width: 550px;
    height: 550px;
    padding: 15px;
    margin: auto;
    position: relative;

    img {
        width: 500px;
        height: 500px;
        padding: auto;
        object-fit: contain;
    }
}

.item-i {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 510px;
    height: 510px;
    padding: 15px;
    margin: auto;
    gap: 15px;
    object-fit: contain;

}

button {
    border: none;
    background-color: #ffffff00;
}

.ITEM {
    /* background-color: #d9d9d9; */
    width: 159px;
    height: 159px;
    position: relative;

    &::before {
        content: "";
        border-radius: inherit;
        position: absolute;
        inset: 0;
        z-index: 10;
        transition: background-color .4s;
    }

    @media (any-hover: hover) {
        &:hover::before {
            background-color: rgb(255 255 255/.5);
        }
    }

    &:focus-visible::before {
        background-color: rgb(255 255 255/.5);
    }

    img {
        object-fit: contain;
        aspect-ratio: 1
    }
}

.item-i img {
    width: 159px;
    height: 159px;
}

.ITEM.is_active::before {
    background-color: rgb(255 255 255/.5);
}

/*マップ部分*/
.map {
    display: flex;
    justify-content: center;
    align-items: center;
}

#map-setumei {
    margin: auto;
    position: relative;
    text-align: center;
    width: 521px;
    height: 521px;
}

#map-setumei p {
    position: absolute;
    top: 40%;
    width: 521px;
    text-align: center;
}

#map-img {
    margin: auto;

    img {
        width: 526px;
        height: 681px;
        object-fit: contain;
    }
}


/*スチル絵まとめ
    スライドショー部分*/

.wrapper {
    max-width: 100vw;
    overflow: hidden;
    width: 100%;
    height: 498px;
    position: relative;
    padding-bottom: 55px;
}

.next {
    width: 40px;
    height: 115px;
    position: absolute;
    right: 0;
    bottom: 200px;
    transition: all 0.3s;
    z-index:5;
    cursor: pointer;
}

.next::after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    border-top: solid 3px #828282;
    border-right: solid 3px #828282;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    right: 50px;
    top: 10px;
}

.next:hover {
    transition: all 0.3s;
}

.prev {
    width: 40px;
    height: 115px;
    position: absolute;
    left: 50px;
    bottom: 200px;
    transition: all 0.3s;
    z-index: 5;
    cursor: pointer;
}

.prev::after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    border-top: solid 3px #828282;
    border-right: solid 3px #828282;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    position: absolute;
    left: 15px;
    top: 10px;
}

.prev:hover {
    transition: all 0.3s;
}

.slider {
    width: 400vw;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.slider1 {
    transform: translateX(0);
    transition: all 0.3s;
}

.slider2 {
    transform: translateX(-100vw);
    transition: all 0.3s;
}

.slider3 {
    transform: translateX(-200vw);
    transition: all 0.3s;
}

.slider4 {
    transform: translateX(-300vw);
    transition: all 0.3s;
}

/*イラスト範囲*/
.ILLUSTRATION {
    background-color: #d9d9d9;
    width: 988px;
    height: 498px;
    margin: auto;
    transition: all 0.3s;
    justify-content: center;
    align-items: center;
}

.illust1 {
    background-color: #ca3838;
}

.illust2 {
    background-color: #ca9938;
}

.illust3 {
    background-color: #38b6ca;
}

.illust4 {
    background-color: #c8ca38;
}

.ILLUSTRATION img {
    width: 988px;
    height: 498px;
    transition: all .5s;
}


#sub p {
    margin: 55px;
    padding: 25px;
    font-size: 30px;
}

/*フォント設定*/
p {
    text-align: center;
    font-family: "New Tegomin", serif;
    font-weight: 400;
    font-style: normal;
}