.header{
  position: fixed;/*要素をブラウザの表示領域に固定*/
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
}
.header__inner{
  max-width: 1152px;
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header__logo{
  flex: none;
  width: auto;
  height: 35px;
}
.header__navgroup{
  margin-left: auto;
  display: flex;
  flex: none;
}
.header__navgroup > * + *{
  margin-left: 60px;
}
.card1{
  font-size: 16px;
  transition-duration: .4s;
}

.card1:hover {
  transform: scale(1.1);
}

.kv{
    color: #fff;
    width: 100%;
    height: 100vh;
    background-image: url(images/01KV.jpeg);
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.kv h2{
  font-size: 40px;
}

.btn1 {
  background-color: #f5f5f5;
  padding: 12px 24px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.btn1:hover {
  background-color: #f3f1e7;
  transform: translateY(-2px);
}

.btn1:active {
  transform: translateY(0px);
}

.news1{
  text-align: center;
  margin-top: 100px;
  margin-bottom:55px;
}

.news{
    display: grid; /*グリッド状に配置するための指定*/
    gap: 3rem 2rem; /*要素間の間隔（隙間）を指定*/
    grid-template-columns: repeat(6,1fr);
    margin-bottom: 100px;
}

.news .item1 img {
  width: 400px;
  height: 300px;
  object-fit: cover; 
  margin-left: 70px;
}

.news .item2 img {
  width: 400px;
  height: 300px;
  object-fit: cover; 
  margin-left: 15px;
  margin-right: 15px;
}

.news .item3 img {
  width: 400px;
  height: 300px;
  object-fit: cover; 
  margin-right: 70px;
}

.item1 p{
  margin-left: 70px;
}

.item2 p{
  margin-left: 15px;
}

.btn2 {
  display: block;
  margin: 0 auto;
  background-color: #000;
  color: white;
  font-size: 24px; 
  padding: 16px 40px;
  border: none;
  border-radius: 60px;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
}

.btn2:hover {
  background-color: #000;
  transform: translateY(-3px);
}

.btn2:active {
  transform: translateY(0px);
}

.ft{
  color: #fff;
    width: 100%;
    height: 100vh;
    margin-top: 150px;
    background-image: url(images/03about.jpeg);
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ft h2{
  font-size: 40px;
}

.ft h3{
  margin-top: -20px;
}

.btn3 {
  display: block;
  margin-top: 50px;
  background-color: #fff;
  color: black;
  font-size: 24px; 
  padding: 16px 40px;
  border: none;
  border-radius: 60px;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
}









