* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Philosopher", sans-serif;
    font-weight: 400;
}

body {
    background-color: #FFF;

}

header {
    width: 100%;
    height: 100vh;
}

img {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
    padding: 30px;
    margin-top: 20px;
}

.box {
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    background-color: #fff;

}

.mise {
    display: flex;
    align-items: center;
    padding-left: 3rem;
    gap: 10px;
    font-size: 20px;
}

.rogo {
    margin-bottom: 1.5rem;
}

.box>nav>ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

}

a {
    color: #000;
    text-decoration: none;
}



.rogo {
    height: 30px;
    width: 30px;
    padding: 0;
}


.box2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ddd;
    width: 140px;
    /* ← ここで好きな大きさにできる */
    height: 50px;
    margin-right: 2rem;
}


.box nav {
    display: flex;
    justify-content: center;
}

.box2 p {
    text-align: center;

}

.box2:hover {
    transition: all 0.3s ease;
    background-color: blue;
    color: #FFF;
}

h2 {
    margin: 0;
    margin-top: 5rem;
    text-align: center;
    font-size: 80px;
    margin-bottom: 3rem;
    /* 下の間隔 */
}

.concept {
    text-align: center;
    padding-top: 1rem;
    margin-bottom: 60px;
    /* 下の間隔 */
}

h3 {
    display: inline-block;
    border-bottom: 1px solid #333;
    margin: 0;
}

.gazou {
    position: relative;
    /* これを基準にする */
    color: #FFF;
}

.main {
    position: absolute;
    /* 子要素*/
    top: 50%;
    right: 14rem;
    text-align: center;
    font-size: 24px;
    border: 0;
    margin: 0;
}

.main h1,
.main p {
    margin: 0;
    padding: 0;
}

#menu {
    display: flex;
    list-style: none;
    padding: 0;

}

#menu>li {
    padding: 20px 20px;
    cursor: pointer;
}

#menu>li:hover {
    background-color: #f5f5f5;
}


.dd-menu {
    position: relative;
}

.dd-submenu {
    list-style: none;
    padding: 0;
    margin: 0;
    border: solid #ddd 1px;
    background-color: white;
    position: absolute;
    top: 100%;
    left: 0;
    width: max-content;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    /* 上に10px移動した位置から開始 */
    transition: all 0.3s, transform 0.3s, visibility 0.3s;
    z-index: 1001;
    display: block;
}

.dd-submenu>li {
    padding: 12px 20px;
    cursor: pointer;
    display: block;
}

.dd-submenu>li:hover {
    background-color: #f5f5f5;
}

.dd-submenu.open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    /* 元の位置に移動 */
}