:root {
  font-family: "Playfair Display", serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1.25rem;
  background-color: #1b1b1b;
  color: #fff;
  text-align: center;
}

/*-------
 header
--------*/

.header-bar {
  height: 80px;
  border-bottom: solid #fff 1px;

  display: flex;
  justify-content: flex-end;
}

.header-bar>* {
  flex: auto;
}

/* ham */
.ham-button {
  height: 100%;
  border: none;
  padding: 10px 10px 10px 20px;

  background-color: initial;
  cursor: pointer;
  position: relative;
  z-index: 3;
}

.ham-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.ham-icon .bar {
  width: 32px;
  height: 4px;

  display: block;
  background-color: #fff;
}

.ham {
  height: 100vh;
  width: 450px;
  padding-top: 80px;

  position: absolute;
  z-index: 2;
  top: 0;
  transform: translateX(calc(-100% - 3px));
  transition: transform 1s;
  background-color: white;
  box-shadow: 3px 0 6px rgb(0 0 0 / 25%);
  font-size: 1.5rem;
}

.ham-c.open .ham {
  transform: translateX(0);
}

.nav-b {
  margin: 0;
  padding: 0 20px;

  list-style: none;
}

.nav-i {
  padding-top: 25px;

  border-bottom: solid #E9E9E9 1px;
  cursor: pointer;
}

.nav-i:hover {
  background-color: #E9E9E9;
}

/* menu */
.menu {
  width: 190px;

  position: relative;
  cursor: pointer;
}

.menu-c {
  flex: initial;

  display: flex;
}

.title {
  width: 100%;
  height: 100%;
  color: #fff;

  display: grid;
  place-items: center;
}

.menu-b {
  margin: 0;
  padding: 0;
  width: 100%;

  transition: clip-path 0.5s;
  clip-path: inset(0 0 100%);
  overflow: hidden;
  position: absolute;
  top: 80px;
  list-style: none;
  background-color: rgb(200, 200, 200);
}

.menu-b.open {
  clip-path: inset(0 0 0);
}

.menu-i {
  text-align: center;
  color: white;

  padding: 8px 10px;
}

.menu-i:hover {
  background-color: #1b1b1b;
}

*,
body,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

/* ↓ スライドの外枠 */
.slide-wrapper {
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
  /* はみ出したスライドを隠す */
}

/*  ↓ スライド（コンテンツ） */
.slide {
  /*スライド全体 */
  width: 300%;
  height: 100%;
  display: flex;
  transition: all 0.3s;
}

.slide div {
  /* スライド */
  width: 33.33%;
  height: 100%;
  font-size: 16px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.slide1 {
  /* スライドさせるために必要なクラス */
  transform: translateX(0);
}

.slide2 {
  /* スライドさせるために必要なクラス */
  transform: translateX(-33.33%);
}

.slide3 {
  /* スライドさせるために必要なクラス */
  transform: translateX(-66.66%);
}

.slide div:nth-of-type(1) {
  /* 背景色 */
  background-color: #E1F3FC;
}

.slide div:nth-of-type(2) {
  /* 背景色 */
  background-color: #FCE8F0;
}

.slide div:nth-of-type(3) {
  /* 背景色 */
  background-color: #E3F1E4;
}

/* ↓ 左右のボタン */
.next {
  position: absolute;
  width: 15px;
  height: 15px;
  right: 10px;
  bottom: 50%;
  z-index: 10;
  cursor: pointer;
  border-top: solid 3px #000;
  border-right: solid 3px #000;
  -webkit-transform: rotate(45deg) translateY(50%);
  transform: rotate(45deg) translateY(50%);
}

.prev {
  position: absolute;
  width: 15px;
  height: 15px;
  left: 25px;
  bottom: 50%;
  z-index: 10;
  cursor: pointer;
  border-top: solid 3px #000;
  border-right: solid 3px #000;
  -webkit-transform: rotate(-135deg) translateY(-50%);
  transform: rotate(-135deg) translateY(-50%);
}

/* ↓ インジケーター */
.indicator {
  width: 100%;
  position: absolute;
  bottom: 20px;
  display: flex;
  column-gap: 18px;
  z-index: 10;
  justify-content: center;
  align-items: center;
}

.indicator li {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  list-style: none;
  background-color: #fff;
  border: 2px #000 solid;
  cursor: pointer;
}

.indicator li:first-of-type {
  background-color: #000;
}

.about {
  max-width: 736px;
  padding: 2rem;
  margin: 3rem auto 4rem;
}

.about p {
  margin-bottom: 3rem;
  text-align: justify;
  /*独自に追記*/
}

@media (min-width:800px) {
  .about {
    /* ★背景色を設定 */
    background-color: rgba(225, 225, 225, .5);
    /* ★box-shadowを設定 */
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    /* ★margin-topを上のコンテンツに重なるように指定 */
    margin-top: -100px;
    /* ★角丸1rem */
    border-radius: 1rem;
  }

  .cover-home {
    /* ★desktop用の背景画像を設定 */
    background-image: url(images/images.jpeg);
    height: 1000px;
    background-repeat: no-repeat;
    background-size: cover;
  }
}