body{
    background-color: white;
}

.box{
    width: 100%;
    height: 100px;
    background-color: black;
}

h1{
    text-align: center;
    color: white;
    padding-top: 25px;
    font-weight: bold
}

.top{
    background-image: url(../img/06\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 940px;
    padding-bottom: 200px;
}

h2{
    margin-top: 200px;
    text-align: center;
    font-size: 35px;
}

/* ベスト */
.best{
    display: flex;
    justify-content: space-evenly;
    padding-top: 100px;
    overflow: hidden;
    padding-bottom: 100px;
}

.kinds{
    transition: all 0.5s ease;
}

.kinds-photo{
    display: block;
    border: 3px solid black;
    width: 400px;
    cursor: pointer;
}

.kinds:hover {
    transform: scale(1.1);
}

.kinds p{
    text-align: center;
}

/* NEW */
.new{
    display: flex;
    justify-content: space-evenly;
    padding-top: 100px;
    overflow: hidden;
    padding-bottom: 100px;
}
.new-kinds{
    transition: all 0.5s ease;
}

.new-photo{
    display: block;
    border: 3px solid black;
    width: 400px;
    cursor: pointer;
}

.new-kinds:hover {
    transform: scale(1.1);
}

.new p{
    text-align: center;
}

.others{
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    margin: 150px 0;
}

.others-kinds{
    transition: all 0.5s ease;
}

.others-kinds:hover {
    transform: scale(1.1);
}


.cap-img{
    border: 3px solid black;
    padding: 0 50px;
}

.bag-img{
    border: 3px solid black;
    padding: 0 50px
}

h3{
    text-align: center;
}

footer{
    margin-top: 300px;
    background-color: black;
    color: white;
    padding: 30px  50px;
}

.footer-text{
    text-decoration: underline;
    display: flex;
    justify-content: space-evenly;
}

.footer-text :hover{
    color: blue;
    transition: color 0.5s ease;
    cursor: pointer;
}