/* 初期設定 */
body {
    font-family: "Noto Serif JP", serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

.aline-center {
    text-align: center;
    margin: 0 auto;
    
}

.btn {
    background-color: #32467C;
    color: #fff;
    display: inline-block;
    font-size: 1rem;
    font-family: "Montserrat Alternates", serif;
    font-weight: 700;
    font-style: normal;
    border-radius: 35px;
    padding: 17px 76px;
    text-decoration: none;
}

.title {
    text-align: center;
    font-family: "Montserrat Alternates", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
    letter-spacing: 0.2rem;
    margin-top: 170px;
}

/* ヘッダー */
.header {
    position: fixed;
    width: 100%;
    height: 110px;
    padding: 70px 70px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(0deg,rgba(0,0,0,0),rgba(103, 103, 103));
}

.wrapper {
    max-width: 1120px;
    margin: auto;
    padding: 0 1.5rem;
}

.page-header {
    padding-top: 0.5rem;
}

.logo{
    width: 167px;
    height: 86px;
    padding-top: 30px;
}

.menulist {
    width: 190px;
    position: relative;
    cursor: pointer;
}
.menu-title {
    width: 100%;
    height: 100%;
    place-items: left;
    color: #fff;
    padding-left: 550px;
}
.menu-b {
    margin: 0;
    padding: 0;
    width: 100%;
    margin-left: 550px;

    transition: clip-path 0.5s;
    clip-path: inset(0 0 100%);
    overflow: hidden;
    position: absolute;
    top: 80px;
    list-style: none;
    background-color: #fff;
}
.menu-b.open {
    clip-path: inset(0 0 0);
}

.menu-i {
    text-align: center;
    color: #000;
    padding: 10px 20px;
    text-align: left;
}
.menu-i:hover {
    background-color: #c6c6c6;
}


a{
    color: #333333;
    text-decoration: none;
    display: block;
  }
  
  ul li{
    list-style: none;
    width:100px;
  }
  
  .menu{
    justify-content: space-around;
    max-width: 980px;
    margin:0 auto;
    display: block;
  }
  
  /**レスポンシブにした時のナビの見せ方**/
    header nav{
      position: fixed;
      width: 300px;
      top: 0;
      right: -300px;
      background-color: rgba(33,33,33,.9);
      height: 100%;
      padding-top: 60px;
    }
  
  header nav ul li{
    width: 100%;
  }
  
    header nav ul li a{
      color: #ffffff;
      padding-left: 20px;
    }
  
    header .btn-gnavi{
      position: fixed;
      top: 20px;
      right: 20px;
      width: 30px;
      height: 24px;
      z-index: 3;
      cursor: pointer;
      transition: all 400ms;
      -webkit-transition:all 400ms;
    }
  
    header .btn-gnavi span {
        position: absolute;
        width: 30px;
        height: 4px;
        background: #fff;
        border-radius: 10px;
        -webkit-transition: all 400ms;
        transition: all 400ms
    }
  
    header .btn-gnavi span:nth-child(1){
      top: 0;
    }
  
    header .btn-gnavi span:nth-child(2){
      top: 10px;
    }
  
    header .btn-gnavi span:nth-child(3){
      top: 20px;
    }
  
    header .btn-gnavi.hb-open{
      transform: rotate(180deg);
      -webkit-transform:rotate(180deg);
    }
  
    header .btn-gnavi.hb-open span{
      background: #fff;
    }
  
    header .btn-gnavi.hb-open span:nth-child(1){
      width: 24px;
      transform: translate(-7px,17px) rotate(45deg);
      -webkit-transform: translate(-7px,17px) rotate(45deg);
    }
  
    header .btn-gnavi.hb-open span:nth-child(3){
      width: 24px;
      transform: translate(-7px,-17px) rotate(-45deg);
      -webkit-transform: translate(-7px,-17px) rotate(-45deg);
    }
  
/* キービジュアル */
.cover {
    background-size: cover;
    background-position: center bottom;
    height: 800px;
}

.cover-home {
    background-image: url(images/top.png);
}

.page-header h3 {
    font-size: 30px;
    color: #fff;
    font-weight: normal;
    width: 465px;
    margin-top: 350px;
}

.page-header h2 {
    font-family: "Montserrat Alternates", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 44px;
    margin-top: -20px;
    color: #fff;
    
}

/* メイン - コンセプト */
.concept div {
    text-align: center;
    font-size: 24px;

}

.concept p {
    letter-spacing: 0.1rem;
    text-align: center;
    margin-top: 40px;
    line-height: 240%;
    font-size: 16px;
}

.concept-img {
    margin: 60px auto;
    display: flex;
    flex-direction: row;
}

.item {
    width: 280px;
    height: 190px;
    object-fit: cover;
    margin: 0 1rem;
}

.concept button {
    display: none!important;
}

/* メイン　ニュース */
.news-1 {
    margin: 0px auto 70px;
    

}

.news-1 tr {
    width: 920px;
    height: 80px;
    
}

.news-1 th {
    font-weight: normal;
    width: 185px;
    border-bottom: 1px solid #828282;
}
.news-1 td {
    width: 733px;
    border-bottom: 1px solid #828282;
}
hr {
    width: 918px;
    color: #828282;
    margin-bottom: -2px;
}

/* モーダルを開くボタンのスタイル */
.open-modal {
    background-color: #32467C;
    color: #fff;
    display: inline-block;
    font-size: 1rem;
    font-family: "Montserrat Alternates", serif;
    font-weight: 700;
    font-style: normal;
    border-radius: 35px;
    padding: 17px 76px;
    text-decoration: none;
    cursor: pointer;
    
  }
  
  /* モーダルウィンドウの基本スタイル */
  .modal {
    display: none; /* デフォルトでは非表示に設定 */
    position: fixed; /* モーダルがページ全体に固定されるように設定 */
    top: 0; /* ページの最上部からスタート */
    left: 0; /* ページの最左端からスタート */
    width: 100%; /* モーダルが画面全体の幅を占める */
    height: 100%; /* モーダルが画面全体の高さを占める */
    background-color: rgba(0, 0, 0, 0.4); /* 背景を半透明の黒に設定（モーダルの背後が見えるように） */
  }
  
  .modal-content {
    position: fixed; /* モーダル内容が画面上に固定されるように設定 */
    top: 50%; /* 縦方向の中央に配置 */
    left: 50%; /* 横方向の中央に配置 */
    transform: translate(-50%, -50%); /* 完全に中央に配置するための補正 */

  }
  
  /* モーダルを閉じるボタン（×）のスタイル */
  #closeModal {
    position: absolute; /* モーダル内で絶対位置に配置 */
    display: flex; /* ボタン内のテキストが中央に配置されるようにフレックスボックスを使用 */
    align-items: center; /* ボタン内のテキストを縦方向に中央揃え */
    justify-content: center; /* ボタン内のテキストを横方向に中央揃え */
    top: -30%; /* モーダル内容の上部から離れた位置に配置 */
    right: -10%; /* モーダル内容の右端から離れた位置に配置 */
    font-size: 28px; /* 閉じるボタンのフォントサイズ */
    font-weight: bold; /* 閉じるボタンのフォントを太字に設定 */
    cursor: pointer; /* ホバー時にポインタが表示されるように設定 */
    color: #FFF; /* 閉じるボタンのテキストカラーを白に設定 */
    width: 40px; /* ボタンの幅 */
    height: 40px; /* ボタンの高さ */
    background-color: #333; /* ボタンの背景色をダークグレーに設定 */
    border: #333; /* ボタンの境界線を背景と同じ色に設定 */
    border-radius: 50%; /* ボタンを丸くするための半径 */
  }
/* メイン　カテゴリー */
.LineUp-img {
    width: 280px;
    height: 190px;
}
.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    margin: 0 auto;
    max-width: 1300px;
    margin-bottom: 50px;
    padding: 0;
}
.flex li {
    margin: 15px auto;
    font-family: "Montserrat Alternates", serif;
    font-weight: 200;
    font-size: 23px;
    color: #898989;
    text-align: center;
}

/* メイン　アクセス */
.access {
    background-color: #E2ECF5;
    width: 100%;
    height: 370px; 
}
.op {
    padding-top: 50px;
}
.access-flex {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    max-width: 1100px;
}

.access-btn {
    padding-top: 80px;
    padding-left: 300px;
}

.access-table {
    width: 520px;
    height: 162px;
}

.access-table th,
.access-table td {
    vertical-align: top;
    text-align: left;
    font-weight: normal;
}

.access-table td {
    padding-left: 30px;
}

/* フッター */
.social-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px auto;
}
.icon {
    width: 40px;
    height: auto;
    object-fit: cover;
    padding: 15px;
}

.footer-links-1, 
.footer-links-2 {
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
}
.footer-links-2 {
    padding-top: 30px;
}
.footer-links-1 a {
    text-decoration: none;
    color: #000;
    padding: 0 10px;
}
.footer-links-2 a {
    text-decoration: none;
    color: #fff;
    padding: 0 10px;
}
.copyright {
    color: #fff;
    opacity: 0.5;
    text-align: center;
}
.background {
    background-color: #32467C;
    height: 150px;
    width: 100%;
}
