/* 全体の設定 */
* {
  font-family: "Noto Sans", serif;
}
/* トップ画像 */
.frame{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 852px;
}
.navbar {
  display: flex;
  text-align: center;
  align-items: start;
}

.navbar-title {
  flex: 520;
  font-family: "Meie Script", serif;
  font-size: 48px;
  padding: 27px 0;
}

.text-wrapper-10 {
  flex: 144;
  font-size: 24px;
  padding: 17px 0;
}

.apo {
  flex: 100;
  padding: 22px 0;
  background-color: #F2F1D5;
  margin-left: 2px;
  letter-spacing: 0.2em;
}

.font {
  color: #DBDAB2;
  font-size: 16px;
}

.header-bar {
  display: flex;
  height: 75px;
}

.header-bar>* {
  flex: auto;
}

.menu {
  background-color: #fff;
  height: 100%;
  color: gray;
  display: grid;
  align-items: center;
  margin: 0;
}

.menu-b {
  position: absolute;
  top: 50px;
  background-color: #DBDAB2;
  margin: 10px;
  padding: 30px 100px;
  clip-path: inset(0 0 100% 0);
  transition: clip-path .5s;
}

.menu.open .menu-b {
  clip-path: inset(0 0 0 0);
}

li {
  list-style: none;
}

.text {
  font-size: 48px;
  font-family: "Meie Script", serif;
  margin: 100px;
  text-align: center;
}

.text-1 {
  font-size: 32px;
  text-align: center;
  margin: 10px;
}


.img {
  position: relative;
  background-color: #F2F1D5;
   margin-top: 200px;
}

.rectangle{
  width: 1492px;
  height: 918px;
  top: 504px;
  left: 0;
}
.adfd-ae-f {
  top: 429px;
  display: block;
  position: absolute;
}

.element-f{
   width: 634px;
   padding: 60px;
   margin-top: -50px;
   transform: translateY(-80%);
}

.con{
  background-color: #F2F1D5;
  height: 918px;
}

.text-wrapper-3{
  text-align: right;
  font-size: 40px;
  height: 50px;
  letter-spacing: 30px;
  padding: 100px 100px 100px 100px;
  color: #9E9E9D;
  top: -500px;
  transform: translate(-260px);
  margin-top: 100px;
}

.rectangle{
  background-color: #F2F1D5;
  height: 20px;
}
.text-2{
  font-size: 32px;
  padding-left: 700px;
  margin-top: 100px;
  line-height: 44px;
  text-align: center;
  color: #8E887C;
}
.item{
  display: flex;
}

.photo{
   font-size: 64px;
   color: grey;
   text-align: center;
}
.gallery{
   font-size: 24px;
   color: grey;
   text-align: center;
}

*,body,ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
/* ↓ スライドの外枠 */
.slide-wrapper {
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden; /* はみ出したスライドを隠す */
}
/*  ↓ スライド（コンテンツ） */
.slide { /*スライド全体 */
  width: 300%;
  height: 100%;
  display: flex;
  transition: all 0.3s;
}
.slide div { /* スライド */
  width: 33.33%;
  height: 100%;
  font-size: 16px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.slide1 { /* スライドさせるために必要なクラス */
  transform: translateX(0);
}
.slide2 { /* スライドさせるために必要なクラス */
  transform: translateX(-33.33%);
}
.slide3 { /* スライドさせるために必要なクラス */
  transform: translateX(-66.66%);
}
.slide div:nth-of-type(1){ /* 背景色 */
  background-color: #F2F1D5;
}
.slide div:nth-of-type(2){ /* 背景色 */
  background-color: #F2F1D5;

}
.slide div:nth-of-type(3){ /* 背景色 */
  background-color: #F2F1D5;

}
/* ↓ 左右のボタン */
.next {
  position: absolute;
  width: 15px;
  height: 15px;
  right: 10px;
  bottom: 50%;
  z-index: 10;
  cursor: pointer;
  border-top: solid 3px #000;
  border-right: solid 3px #000;
  -webkit-transform: rotate(45deg) translateY(50%);
  transform: rotate(45deg) translateY(50%);
}
.prev {
  position: absolute;
  width: 15px;
  height: 15px;
  left: 25px;
  bottom: 50%;
  z-index: 10;
  cursor: pointer;
  border-top: solid 3px #000;
  border-right: solid 3px #000;
  -webkit-transform: rotate(-135deg) translateY(-50%);
  transform: rotate(-135deg) translateY(-50%);
}
/* ↓ インジケーター */
.indicator {
  width: 100%;
  position: absolute;
  bottom: 20px;
  display: flex;
  column-gap: 18px;
  z-index: 10;
  justify-content: center;
  align-items: center;
}
.indicator li {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  list-style: none;
  background-color: #fff;
  border: 2px #000 solid;
  cursor: pointer;
}
.indicator li:first-of-type {
  background-color: #000;
}
/* ベースのスタイル */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.menu-toggle {
  font-size: 30px;
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  z-index: 10;
}

.drawer-menu {
  position: fixed;
  top: 0;
  left: -250px; /* 初期状態では隠れる */
  width: 250px;
  height: 100%;
  background-color: #F2F1D5;
  color: grey;
  padding-top: 60px;
  transition: left 0.3s ease;
}

.drawer-menu ul {
  list-style-type: none;
  padding: 0;
}

.drawer-menu ul li {
  padding: 15px;
  text-align: center;
}

.drawer-menu ul li a {
  color: grey;
  text-decoration: none;
  font-size: 18px;
}

.content {
  padding: 20px;
}

/* メニューが開いたとき */
.drawer-menu.open {
  left: 0;
}
/* モーダルの背景 */
.modal {
  display: none; /* 初期状態では非表示 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 半透明の背景 */
  z-index: 1; /* 他のコンテンツの上に表示されるように */
}

/* モーダルの内容 */
.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  max-width: 500px;
}

/* 閉じるボタンのスタイル */
.close {
  color: #aaa;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 20px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


