:root {
    font-family: "Lato", sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #fffbe6;
    font-size: 1.25rem;
}

/*-------
 header
--------*/

.au{
    flex: auto;
}


/* ham */
.header-bar {
    display: flex;
    justify-content: flex-end;
}

.ham-button {
    height: 100%;
    border: none;
    padding: 10px 10px 10px 20px;

    background-color: initial;
    cursor: pointer;
    position: relative;
    z-index: 3;
}

.ham-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.ham-icon .bar {
    width: calc((4px + 8px + 4px + 8px) * sqrt(2));
    height: 4px;

    display: block;
    background-color: #000;
    transform-origin: left center;
    transition: 1s;
}

.ham-c.open .ham-icon .bar.first {
    transform: rotate(45deg);
}

.ham-c.open .ham-icon .bar.middle {
    opacity: 0;
}

.ham-c.open .ham-icon .bar.last {
    transform: rotate(-45deg);
}

.ham {
    height: 100vh;
    width: 450px;
    padding-top: 80px;

    position: absolute;
    z-index: 2;
    top: 0;
    transform: translateX(calc(-100% - 3px));
    transition: transform 1s;
    background-color: white;
    box-shadow: 3px 0 6px rgb(0 0 0 / 25%);
    font-size: 1.5rem;
}

.ham-c.open .ham {
    transform: translateX(0);
}

.nav-b {
    margin: 0;
    padding: 0 20px;

    list-style: none;
}

.nav-i {
    padding-top: 25px;

    border-bottom: solid #E9E9E9 1px;
    cursor: pointer;
}

.nav-i:hover {
    background-color: #E9E9E9;
}

.back {
    width: 100vw;
    height: 100vh;

    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #000;
    opacity: 0;
    transition: opacity 1s;
}

.ham-c.open .back {
    pointer-events: auto;
    opacity: 25%;
}

/* menu */
.menu {
    width: 190px;

    position: relative;
    cursor: pointer;
}

.menu-c {
    flex: initial;

    display: flex;
}

.title {
    width: 100%;
    height: 100%;

    display: grid;
    place-items: center;
}

.menu-b {
    margin: 0;
    padding: 0;
    width: 100%;

    transition: clip-path 0.5s;
    clip-path: inset(0 0 100%);
    overflow: hidden;
    position: absolute;
    top: 80px;
    list-style: none;
    background-color: #3f3f3f;
}

.menu-b.open {
    clip-path: inset(0 0 0);
}

.menu-i {
    text-align: center;
    color: white;

    padding: 8px 10px;
}

.menu-i:hover {
    background-color: #1b1b1b;
}

/*-------
 main
--------*/

/* hero */
.hero-c {
    height: calc(100vh - 80px);

    display: flex;
    justify-content: flex-end;
}

.hero {
    background-image: url("./programming_scene.jpg");
    background-size: cover;
    background-position-x: 35%;
    flex: auto;
}

.hero-side {
    width: min-content;
    padding: 0 40px;

    font-size: 1.75rem;
    display: grid;
    place-items: center;
}

.logo-c {
    width: 270px;
    height: 270px;
    margin: 0 40px;
}

.logo {
    width: 100%;
    height: 100%;

    border-radius: 50%;
}




.cont-two{
    height: 600px;
    width: 900px;
    margin: 100px auto;
    overflow: hidden;
}
.wrap-two{
    position: relative;
    display: flex ;
    transition: 1s;
    right: 0;
}
.items-two,
.items-two img{
    width: 100%;
}
    