:root {
   font-family: "Lato", sans-serif;
}

* {
   box-sizing: border-box;
}

body {
   margin: 0;

   font-size: 1.25rem;
}



/* ヘッダー */

.header-bar {
   height: 80px;
   border-bottom: solid #2c2c2c 1px;

   display: flex;
   justify-content: flex-end;
}

.header-bar>* {
   flex: auto;
}

/* ham */
.ham-c{
   padding: 0;
}
.ham-button {
   height: 100%;
   border: none;
   padding: 10px 10px 10px 20px;

   background-color: initial;
   cursor: pointer;
   position: relative;
   z-index: 3;
   width: 60px;
}

.ham-icon {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 8px;
}

.ham-icon .bar {
   width: calc((4px + 8px + 4px + 8px) * sqrt(2));
   height: 4px;

   display: block;
   background-color: #434343;
   transform-origin: left center;
   transition: 1s;
}
.hero-side{
   position: relative;
}
.logo{
   position: absolute;
   top: 13px;
   left: -480px;

}


.ham {
   height: 100vh;
   width: 450px;
   padding-top: 80px;

   position: absolute;
   z-index: 2;
   top: 0;
   transform: translateX(calc(-100% - 3px));
   transition: transform 1s;
   background-color: white;
   box-shadow: 3px 0 6px rgb(0 0 0 / 25%);
   font-size: 1.5rem;
}

.ham-c.open .ham {
   transform: translateX(0);
}

.nav-b {
   margin: 0;
   padding: 0 20px;

   list-style: none;
}

.nav-i {
   padding-top: 25px;

   border-bottom: solid #E9E9E9 1px;
   cursor: pointer;
}

.nav-i:hover {
   background-color: #E9E9E9;
}

.back {
   width: 100vw;
   height: 100vh;

   position: fixed;
   pointer-events: none;
   top: 0;
   left: 0;
   z-index: 1;
   background-color: #000;
   opacity: 0;
   transition: opacity 1s;
}

.ham-c.open .back {
   pointer-events: auto;
   opacity: 25%;
}



/* メニュー */
.up {
   width: 190px;

   position: relative;
   cursor: pointer;
}

.up-c {
   flex: initial;

   display: flex;
}

.title {
   width: 100%;
   height: 100%;

   display: grid;
   place-items: center;
}

.up-b {
   margin: 0;
   padding: 0;
   width: 100%;

   transition: clip-path 0.5s;
   clip-path: inset(0 0 100%);
   overflow: hidden;
   position: absolute;
   top: 80px;
   list-style: none;
   background-color: #3f3f3f;
}

.up-b.open {
   clip-path: inset(0 0 0);
}

.up-i {
   text-align: center;
   color: white;

   padding: 8px 10px;
}

.up-i:hover {
   background-color: #1b1b1b;
}


/* メインビジュアル */
.main-c img {
   object-fit: cover;
   width: 100%;
}

.page-title{
   text-align: center;
}







/* NEWS */
.page-title {
   font-size: 1.5rem;
}


h4 {
   color: red;
}

/* MenuList
------------------------------- */
.menu-list {
   /* ★最大幅を1200pxに設定 */
   max-width: 1200px;
   margin: 10rem auto 0;
}

.lineup .item {
   text-align: center;
   margin: 0 1rem;
   list-style: none;
   display: flex;

}

.lineup .item img {
   /* ★縦横比を 1/1に設定 */
   margin: auto;
   /* ★画像の縦横比を維持して表示する設定 */
   background-size: cover;
   background-position: center;
   /* ★境界線：5px #432 */
   border: solid 5px #432;
   /* ★画像を円形にする*/
   margin-bottom: 1rem;
   border-radius: 50% 50%;
}

.lineup .item p {
   font-size: .875rem;
}


@media (min-width:800px) {
   .lineup .item p {
       font-size: 1rem;
   }
}



/* フッター */
.copyright {
   background-color: lightgray;
   text-align: center;
   padding: 2rem 0;
   margin-top: 6rem;
   color: #fff;
}