* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.holtwood-one-sc-regular {
  font-family: "Holtwood One SC", serif;
}

.inria-serif-regular {
  font-family: "Inria Serif", serif;
}

.playfair-display-sc-regular {
  font-family: "Playfair Display SC", serif;
}

body {
  background-color: #000;
  color: #fff;
  max-width: 1440px !important;
  margin: 0 auto;
  overflow-x: hidden;
  animation: pageFadeIn 1s ease-in-out;
}

@keyframes pageFadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Header */
.head {
  display: flex;
  justify-content: space-between;
  margin: 100px 50px 0 50px;
  position: relative;
}

.head a {
  text-decoration: none;
  color: #fff;
}

nav ul {
  display: flex;
  gap: 40px;
  list-style-type: none;
  position: relative;
  top: -70px;
}

h1 {
  font-family: "Holtwood One SC", serif;
  font-size: 100px;
  position: relative;
  z-index: 10;
  padding-left: 30px;
}

/* Decoration Boxes (Common) */
.box1,
.box2,
.box3,
.box4,
.box5,
.box6,
.box7,
.box8,
.box9,
.box10 {
  height: 2px;
  margin-bottom: 10px;
  z-index: 20;
  position: relative;
}

.box1 {
  width: 300px;
  background: linear-gradient(to right, #f02222, transparent);
  top: -20px;
  left: -50px;
}

.box2 {
  width: 400px;
  background: linear-gradient(to right, #f02222, transparent);
  top: -20px;
  left: -50px;
}

.box3 {
  width: 500px;
  background: linear-gradient(to right, #f02222, transparent);
  top: -20px;
  left: -50px;
}

/* KV */
.kv {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding-top: 10px;
}

.img1 {
  width: 284px;
  height: 907px;
  margin-right: 30px;
  position: relative;
  top: 90px;
}

.img2 {
  width: 337px;
  height: 1291px;
  position: relative;
  top: -250px;
}

.img3 {
  width: 315px;
  height: 691px;
  position: relative;
  top: -175px;
}

.k-p {
  position: relative;
  left: 65%;
  top: -650px;
  width: fit-content;
  font-family: "Inria Serif", serif;
  font-size: 32px;
}

/* Box Gradients */
.box {
  margin-top: 10px;
}

.box4 {
  width: 300px;
  background: linear-gradient(to left, #f02222, transparent);
  left: 200px;
}

.box5 {
  width: 400px;
  background: linear-gradient(to left, #f02222, transparent);
  left: 100px;
}

.box6 {
  width: 500px;
  background: linear-gradient(to left, #f02222, transparent);
}

/* Summer Collection */
.summer {
  margin-bottom: 80px;
}

.summer-title {
  margin-bottom: 20px;
}

.summer h2 {
  font-family: "Inria Serif", serif;
  font-size: 70px;
  text-align: center;
}

.box7 {
  width: 290px;
  background: linear-gradient(90deg, transparent, #ff0000 50%, transparent);
  top: -84px;
  left: 15%;
}

.box8 {
  width: 290px;
  background: linear-gradient(90deg, transparent, #ff0000 50%, transparent);
  left: 65%;
}

.clothes {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.WOMEN,
.MEN {
  width: 45%;
  text-align: center;
}

.MEN {
  position: relative;
  top: 50px;
}

.WOMEN img,
.MEN img {
  width: 100%;
  height: auto;
}

.WOMEN h3,
.MEN h3 {
  margin-top: 10px;
  font-size: 48px;
  font-family: "Inria Serif", serif;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 205px;
  height: 57px;
  margin: 35px auto 50px;
  border: 2px dotted #fff;
  border-radius: 100px;
  background-color: #000;
  color: #fff;
  font-size: 32px;
  font-family: "Inria Serif", serif;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: #f02222;
  border-color: #f02222;
}


.box9 {
  width: 290px;
  background: linear-gradient(90deg, transparent, #ff0000 50%, transparent);
  top: -85px;
  left: 400px;
}

.box10 {
  width: 290px;
  background: linear-gradient(90deg, transparent, #ff0000 50%, transparent);
  left: 700px;
}

.Styling h2 {
  font-family: "Inria Serif", serif;
  font-size: 70px;
  text-align: center;
}

.style1,
.style2,
.style3,
.style4,
.style5 {
  text-align: center;
}

.style {
  display: flex;
}

.style1 {
  position: relative;
  top: 190px;
  left: -110px;
}

.style2 {
  position: relative;
  left: -100px;
  z-index: -10;
}

.style3 {
  position: relative;
  top: 190px;
  left: -90px;
  /* padding-bottom: 120px; */
}

.style4 {
  position: relative;
  left: -80px;
  z-index: -10;
}

.style5 {
  position: relative;
  top: 190px;
  left: -70px;
}

.style .sytle-title {
  font-family: "Inria Serif", serif;
  position: relative;
  font-size: 24px;
  z-index: 30;
}

.money {
  font-family: "Inria Serif", serif;
  font-size: 36px;
}


/* =========================================
   Footer Area (重ね合わせ・幅広版)
   ========================================= */
.end {
  margin-top: 300px;
  border-top: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  /* store と sns の間隔 */
  /* padding: 40px 0; */
  background: #000;
  /* 黒背景想定 */
}

.store {
  background-color: #fff;
  color: #000;
  width: 580px;
  padding: 10px;
  margin: 90px 0 0 50px;
  font-family: "Inria Serif", serif;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  z-index: 10;
  position: relative;
  left: 100px;
}

.store h4 {
  font-size: 20px;
  width: fit-content;
  font-weight: 400;
  padding: 18px 0;
  margin: 0 auto;
}

.store .p {
  font-size: 14px;
  text-align: center;
  line-height: 1.8;
  margin-bottom: 20px;
}

.serch {
  font-size: 14px;
  text-align: center;
  width: max-content;
  margin: 0 auto;
  padding: 5px 40px;
  border: 1px solid #000;
}

.sns {
  height: fit-content;
  background-color: #fff;
  width: 580px;
  color: #000;
  padding: 30px 50px;
  margin-top: 90px;
  display: inline-flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 60px;
  left: -100px;
}

.x,
.insta,
.face {
  width: 200px;
}

span {
  font-family: "Playfair Display SC", serif;
  margin-left: 20px;
}

footer {
  width: fit-content;
  padding: 70px 0;
  text-align: center;
  margin: 0 auto;
  font-family: "Inria Serif", serif;
  font-size: 20px;

}

.fade-up {
  opacity: 0;
  transform: translateY(30px);
  transition: all 1s ease-in-out;
}

.fade-up.in-view {
  opacity: 1;
  transform: translateY(0);
}

.delay-1 {
  transition-delay: 0.2s;
}

.delay-2 {
  transition-delay: 0.4s;
}

.delay-3 {
  transition-delay: 0.6s;
}


/* Mobile Responsive */
@media screen and (max-width: 768px) {
  .head {
    margin: 50px 20px;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    font-size: 60px;
    padding: 0;
  }

  nav ul {
    top: 0;
    margin-top: 20px;
    gap: 20px;
    flex-direction: column;
    text-align: center;
  }

  .kv {
    flex-direction: column;
    align-items: center;
  }

  .img1,
  .img2,
  .img3 {
    width: 90%;
    height: auto;
    top: 0;
    margin: 0;
  }

  .k-p {
    position: static;
    text-align: center;
    margin-top: 30px;
  }

  .clothes {
    flex-direction: column;
    align-items: center;
  }

  .WOMEN,
  .MEN {
    width: 90%;
  }

  .MEN {
    top: 0;
    margin-top: 50px;
  }

  .footer-visual {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .store,
  .sns {
    position: static;
    width: 90%;
    transform: none;
  }
}