@charset "UTF-8";

/* 共通の初期設定
------------------------------- */
html {
    font-size: 100%;
    /*ブラウザ基準の16px=1em=1rem（root em）*/
    scroll-behavior: smooth;
    /* ★スクロールの制御 */
}

body {
    /* ★和文フォントの指定　weight：400 「serif」→「sans-serif」に変更*/
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.7;
    color: #432;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* Layout */
.align-center {
    text-align: center;
}

.wrapper {
    max-width: 1120px;
    margin: auto;
    padding: 0 1.5rem;
}

/* 見出し */
.font-english {
    font-family: "Lora", serif;
    /* ★「Lora」「serif」を設定*/
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.page-title,
.heading-large,
.heading-medium {
    font-size: 3rem;
    text-align: center;
}

.page-title {
    color: #fff;
    text-shadow: 0 0 6px #432;
    /* ★影を設定：ぼかし6px #432 */
    margin-top: 2rem;
    line-height: 1.4;
}

.heading-large {
    margin-bottom: 1rem;
}

.heading-medium {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    line-height: 1;
    margin-bottom: 1.5rem;
}

.heading-medium::before,
.heading-medium::after {
    content: '∵';
    /* ★見出しの前後に入れる文字を設定*/
    font-size: 3rem;
    margin: 0 1.5rem;
}

.heading-medium::before {
    animation: spin1 3s linear 0s infinite;
    /* ★3秒アニメの設定 */
}

.heading-medium::after {
    animation: spin2 3s linear 0s infinite;
    /* ★3秒アニメの設定 */
}

@keyframes spin1 {
    0% {
        transform: rotate(0deg);
    }

    /* ★時計まわりに1回転する設定 */
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin2 {
    0% {
        transform: rotate(0deg);
    }

    /* ★反時計まわりに1回転する設定 */
    100% {
        transform: rotate(-360deg);
    }
}

.catch {
    color: #fff;
    font-weight: 500;
    text-align: center;
    text-shadow: 0 0 3px #432;
    /* ★影を設定：ぼかし3px #432 */
}

@media (min-width:800px) {
    .page-title {
        font-size: 5rem;
    }

    .heading-large {
        font-size: 4rem;
    }

    .catch {
        font-size: 1.2rem;
    }
}

/* header
------------------------------- */
.page-header {
    padding-top: 0.5rem;
}

.logo {
    width: 210px;
}

.main-nav {
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
    list-style: none;
    gap: 2.5rem;
    margin: 1rem 0;
}

.main-nav a {
    color: #432;
    /* ★文字色#432 */
    padding: 0 1rem;
    transition: .5s;
    /* ★hover時の変更動作を.5sに設定 */
}

.main-nav a:hover {
    /* ★サンプルを見て必要項目を設定！ */
    color: #fff;
    background-color: #432;
}

@media (min-width:800px) {
    .page-header {
        display: flex;
        justify-content: space-between;
        padding-top: 1.5rem;
    }

    .main-nav {
        font-size: 1.5rem;
    }
}

/* header-cover
------------------------------- */
.cover {
    background-size: cover;
    background-position: center bottom;
    height: 800px;
    border-top: 1rem solid #e43aaba0;
    /* ★最上部に1remの帯を設定 色：#036EB8 */
}

.sub-covrer {
    background-size: cover;
    background-position: center bottom;
    height: 528px;
    margin-bottom: 4rem;
    /*16px*4=64px*/
}

@media (min-width:800px) {
    .sub-cover {
        height: 400px;
        margin-bottom: 6rem;
    }
}


/* footer
------------------------------- */
.page-footer {
    background-image: url(../images/footer-s.jpg);
    /* ★mobile用の背景画像を設定 */
    background-size: cover;
    /* ★背景画像サイズを全面になるように設定 */
    background-position: center;
    padding-top: 12rem;
}


.info {
    width: 100%;
    max-width: 544px;
    margin: auto;
    padding: 1.5rem;
    border-spacing: 0;
}

.info th,
.info td {
    border-bottom: 2px dotted rgba(68, 51, 34, .2);
    /* ★2pxのドット線 #432をrgbaで指定　不透明度.2 */
}

.info th {
    text-align: right;
    /* ★テキスト右揃え */
    font-weight: normal;
    padding: 1rem;
    padding-right: 2rem;
    /* ★右側の内余白を2rem追記 */
}

.info td {
    padding: 1rem 0;
}

.copyright {
    background-color: #e43aaba0;
    /* ★背景色：#036EB8 */
    text-align: center;
    padding: 2rem 0;
    color: #fff;
}

@media (min-width: 800px) {
    .page-footer {
        background-image: url(../images/footer-l.jpg);
        /* ★desktop用の背景画像を設定 */
    }

    .info th {
        padding-left: 2.5rem;
    }

    .info-box {
        max-width: 736px;
        margin: auto;
        padding: 2rem 2rem 3rem;
        background-color: rgba(68, 51, 34, .1);
        /* =#432 */
        border-radius: 1rem 1rem 50% 50%;
        /* ★角丸下部：50％ 上部：1rem */
    }
}

/* モーダルウインドウ */
body {
    font-family: serif;
    font-size: 16px;
    line-height: 1.6;
    color: #fff;

}

body.open {
    overflow-y: hidden;
}

/* ボタン */
.button {
    background: rgb(255, 185, 232);
    color: #fff;
    padding: 0 2em;
    border: 0;
    width: 500px;
    height: 100px;
    font-size: 45px;
    border-radius: 5px;
    font-weight: 900;
    position: relative;
    left: 400px;
    top: 260px;
    font-family: serif;
    text-align: center;
}

.button:hover {
    background: #f718a5;
    cursor: pointer;
}

/* モーダル */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100vh;
    height: 100dvh;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);

}

.modal-inner {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #f4f4f4;
    width: 50%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: 1s;
}

@keyframes modalopen {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.modal-header h1 {
    margin: 1rem 0;
}

.modal-header {
    background: rgb(250, 164, 225);
    padding: 3px 15px;
    display: flex;
    justify-content: center;
    
}

.modalClose {
    font-size: 2rem;
}

.modalClose:hover {
    cursor: pointer;
}

.modal-body {
    padding: 10px 20px;
    color: black;
}

.buffer {
    height: 300px;
}