@charset "UTF-8";

/* home
------------------------------- */
.cover-home {
    background-image: url(../images/cover-home-s.jpg);
    /* ★mobile用の背景画像を設定 */
}

@media (min-width:800px) {
    .cover-home {
        background-image: url(../images/cover-home-l.jpg);
        max-width: 1440px;
        min-height: auto;
        /* ★desktop用の背景画像を設定 */
    }
}


/*-------
header
--------*/

.header-bar {
    height: 80px;
    border-bottom: solid #fff 1px;

    display: flex;
    justify-content: flex-end;
}

.header-bar>* {
    flex: auto;
}

/* ham */
.ham-button {
    height: 100%;
    border: none;
    padding: 10px 10px 10px 20px;

    background-color: initial;
    cursor: pointer;
    position: relative;
    z-index: 3;
}

.ham-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.ham-icon .bar {
    width: 32px;
    height: 4px;

    display: block;
    background-color: #ffa5e0;
}

.ham {
    height: 100vh;
    width: 450px;
    padding-top: 80px;

    position: absolute;
    z-index: 2;
    top: 0;
    transform: translateX(calc(-100% - 3px));
    transition: transform 1s;
    background-color: rgb(255, 214, 243);
    box-shadow: 3px 0 6px rgb(0 0 0 / 25%);
    font-size: 1.5rem;
}

.ham-c.open .ham {
    transform: translateX(0);
}

.nav-b {
    margin: 0;
    padding: 0 20px;

    list-style: none;
}

.nav-i {
    padding-top: 25px;

    border-bottom: solid #ff3575 1px;
    cursor: pointer;
}

.nav-i:hover {
    background-color: #ff92d1;
}

*,
body,
ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

/* menu */
.menu {
    width: 190px;
 
    position: relative;
    cursor: pointer;
}
 
.menu-c {
    flex: initial;
 
    display: flex;
}
 
.title {
    width: 100%;
    height: 100%;
    color: #ff4db8;
 
    display: grid;
    place-items: center;
}
 
.menu-b {
    margin: 0;
    padding: 0;
    width: 100%;
 
    transition: clip-path 0.5s;
    clip-path: inset(0 0 100%);
    overflow: hidden;
    position: absolute;
    top: 80px;
    list-style: none;
    background-color: rgba(255, 221, 246, 0.79);
}
 
.menu-b.open {
    clip-path: inset(0 0 0);
}
 
.menu-i {
    text-align: center;
    color: rgba(255, 17, 180, 0.924);
 
    padding: 8px 10px;
}
 
.menu-i:hover {
    background-color: #f093b4;
}
 


/* ↓ スライドの外枠 */
.slide-wrapper {
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
    /* はみ出したスライドを隠す */
}

/*  ↓ スライド（コンテンツ） */
.slide {
    /*スライド全体 */
    width: 300%;
    height: 100%;
    display: flex;
    transition: all 1s;
}

.slide div {
    /* スライド */
    width: 33.33%;
    height: 100%;
    font-size: 16px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.slide1 {
    /* スライドさせるために必要なクラス */
    transform: translateX(0);
}

.slide2 {
    /* スライドさせるために必要なクラス */
    transform: translateX(-33.33%);
}

.slide3 {
    /* スライドさせるために必要なクラス */
    transform: translateX(-66.66%);
}

.slide div:nth-of-type(1) {
    /* 背景色 */
    background-color: #E1F3FC;
}

.slide div:nth-of-type(2) {
    /* 背景色 */
    background-color: #FCE8F0;
}

.slide div:nth-of-type(3) {
    /* 背景色 */
    background-color: #E3F1E4;
}

/* ↓ 左右のボタン */
.next {
    position: absolute;
    width: 15px;
    height: 15px;
    right: 10px;
    bottom: 50%;
    z-index: 10;
    cursor: pointer;
    border-top: solid 3px #000;
    border-right: solid 3px #000;
    -webkit-transform: rotate(45deg) translateY(50%);
    transform: rotate(45deg) translateY(50%);
}

.prev {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 25px;
    bottom: 50%;
    z-index: 10;
    cursor: pointer;
    border-top: solid 3px #000;
    border-right: solid 3px #000;
    -webkit-transform: rotate(-135deg) translateY(-50%);
    transform: rotate(-135deg) translateY(-50%);
}

/* ↓ インジケーター */
.indicator {
    width: 100%;
    position: absolute;
    bottom: 20px;
    display: flex;
    column-gap: 18px;
    z-index: 10;
    justify-content: center;
    align-items: center;
}

.indicator li {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    list-style: none;
    background-color: #fff;
    border: 2px #000 solid;
    cursor: pointer;
}

.indicator li:first-of-type {
    background-color: #000;
}

.p {

    color: #000;
}


/* MenuList
------------------------------- */
.menu-list {
    max-width: 1200px;
    /* ★最大幅を1200pxに設定 */
    margin: 10rem auto 0;
}

.lineup .item {
    text-align: center;
    margin: 0 1rem;
}

.lineup .item img {
    aspect-ratio: 1/1;
    /* ★縦横比を 1/1に設定 */
    object-fit: cover;
    /* ★縦横比を維持して表示する設定 */
    border: 5px solid #432;
    /* ★境界線：5px #432 */
    border-radius: 50%;
    /* ★画像を円形にする*/
    margin-bottom: 1rem;
}

.lineup .item p {
    font-size: .875rem;
}


@media (min-width:800px) {
    .lineup .item p {
        font-size: 1rem;
    }
}





