html {
    background-color: #666;
    overflow-x: hidden;
}

.au button {
    position: absolute;
    top: 0;
    z-index: 1;
    left: 30px;
    background-color: black;
    border: none;
    width: 30px;
    height: 60px;
    transition: 0.3s;
    cursor: pointer;
}

.au.open button::after {
    content: '\003e';
    color: white;
}

.au button::after {
    content: '\003c';
    color: white;
}

.header-bar {
    position: absolute;
    top: 0;
    right: -160px;
    background-color: black;
    color: white;
    width: 160px;
    height: 100%;
    transition: 0.5s;
}

.au.open .header-bar {
    right: 0px;
}

.header-bar a {
    text-decoration: none;
    color: white;
}

.header-bar div {
    padding: 30px;
}


.menu {
    /* width: 150px; */
    color: white;
    position: relative;
    cursor: pointer;
}

.menu-c {
    flex: initial;
    display: flex;
    padding-left: 150px;
    gap: 50px;
    height: 50px;
}

.title {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.menu-b {
    margin: 0;
    padding: 0;
    width: 130px;

    transition: clip-path 0.5s;
    clip-path: inset(0 0 100%);
    overflow: hidden;
    position: absolute;
    top: 50px;
    list-style: none;
    background-color: #000;
}

.menu-b.open {
    clip-path: inset(0 0 0);
}

.menu-i {
    text-align: center;
    color: white;

    padding: 8px 10px;
}

.menu {
    width: 130px;
    display: grid;
    align-items: center;
}


.modal-open {
    position: fixed;
    top: 50%;
    left: 50%;
    font-size: 16px;
    font-weight: bold;
    width: 300px;
    height: 60px;
    color: #000;
    background: #fff;
    border: none;
    cursor: pointer;
    translate: -50% -50%;
    position: relative;
    top: 650px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 50%);
    padding: 40px 20px;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
    box-sizing: border-slider;
    z-index: 9999;
}

.modal:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    margin-left: -0.2em;
}

.modal.is-active {
    opacity: 1;
    visibility: visible;
}


.modal-container {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    max-width: 600px;
    width: 90%;
}

.modal-close {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -20px;
    right: -20px;
    width: 40px;
    height: 40px;
    color: #fff;
    background: #000;
    border-radius: 50%;
    cursor: pointer;
}

.modal-content {
    background: #fff;
    text-align: left;
    line-height: 1.8;
    padding: 20px;
}

.modal-content p {
    margin: 1em 0;
}


*,
body,
ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}


.container {
    padding-top: 20px;
    width: 700px;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.slider-container {
    width: 100%;
    height: 100%;
    display: flex;
    transition: transform .3s;
}

.slider {
    height: 100%;
    min-width: 100%;
    object-fit: cover;
}

.slider-1 {
    background-image: url(./images/1-2.jpg)
}

.slider-2 {
    background-image: url(./images/190614_heiseicafe_02.jpg);
}

.slider-3 {
    background-image: url(./images/360_F_126091337_vpMhSoYfTPRLIHQIukCWgDzmCQ86yWUj.jpg);
}

.slider-4 {
    background-image: url(./images/ogasuta458A7885_TP_V.webp);
}

#left,
#right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    border-radius: 50%;
    background: rgba(0, 0, 0, .8);
    color: #fff;
    font-size: 24px;
    padding: 0 6px;
    cursor: pointer;
}

#left {
    left: 8px;
}

#right {
    right: 8px;
}

#left:hover,
#right:hover {
    opacity: .8;
}

.hidden {
    display: none;
}