:root {
    font-family: "Lato", sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;

    font-size: 1.25rem;
}



/*-------
 header
--------*/



.header-bar {
    height: 80px;
    border-bottom: solid #2c2c2c 1px;

    display: flex;
    justify-content: flex-end;
    text-align: right;
}

.header-bar>* {
    flex: auto;
}

/* ham */
.ham-button {
    height: 100%;
    border: none;
    padding: 10px 10px 10px 20px;

    background-color: initial;
    cursor: pointer;
    position: relative;
    z-index: 3;
}

.ham-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.ham-icon .bar {
    width: 32px;
    height: 4px;

    display: block;
    background-color: #434343;
}

.ham {
    height: 100vh;
    width: 100%;
    padding-top: 80px;

    position: absolute;
    z-index: 2;
    top: 0;
    transform: translateY(calc(-100% - 30px));
    transition: transform 1s;
    background-color: white;
    box-shadow: 3px 0 6px rgb(0 0 0 / 25%);
    font-size: 1.5rem;
    
}

.ham-c.open .ham {
    transform: translateY(0);
}

.nav-b {
    margin: 0;
    padding: 0 20px;
    list-style: none;
}

.nav-i {
    padding-top: 25px;
    padding-right: 40px;
    border-bottom: solid #E9E9E9 1px;
    cursor: pointer;
}

.nav-i:hover {
    background-color: #E9E9E9;
}

/* menu */
.menu {
    width: 190px;

    position: relative;
    cursor: pointer;
}

.menu-c {
    flex: initial;

    display: flex;
}

.title {
    width: 100%;
    height: 100%;

    display: grid;
    place-items: center;
}

.menu-b {
    margin: 0;
    padding: 0;
    width: 100%;

    transition: clip-path 0.5s;
    clip-path: inset(0 0 100%);
    overflow: hidden;
    position: absolute;
    top: 80px;
    list-style: none;
    background-color: #3f3f3f;
}

.menu-b.open {
    clip-path: inset(0 0 0);
}

.menu-i {
    text-align: center;
    color: white;

    padding: 8px 10px;
}

.menu-i:hover {
    background-color: #1b1b1b;
}



    * {
        box-sizing: border-box;
        list-style: none;
        padding: 0;
        margin: 0;
      }
      body {
        padding: 30px 50px;
      }
      h1 {
        margin-bottom: 100px;
      }
      h2 {
        margin-bottom: 50px;
      }
      /* スライドする要素 */
      .content {
        width: 300px;
        height: 300px;
      }
      .content:nth-child(1) {
        background-image: url(image.png);
        background-size: 150%;
      }
      .content:nth-child(2) {
        background-image: url(image\ copy.png);
        background-size: 150%;
      }
      .content:nth-child(3) {
        background-image: url(image\ copy\ 2.png);
        background-size: 200%;
      }
      .content:nth-child(4) {
        background-image: url(image\ copy\ 3.png);
        background-size: 200%;
      }
      /* スライドレールの枠 */
      .wrap {
        overflow: hidden;
        display: flex;
        align-items: center;
        height: 340px;
        margin-bottom: 100px;
        margin: 0 auto;
        position: relative;
        bottom: -400px;
      }
      /* content4つをまとめたスライドブロック */
      .slideshow {
        display: flex;
        -webkit-animation: loop-slide 20s infinite linear 1s both;
        animation: loop-slide 20s infinite linear 1s both;
      }
      @-webkit-keyframes loop-slide {
        from {
          transform: translateX(0);
        }
        to {
          transform: translateX(-100%);
        }
      }
      @keyframes loop-slide {
        from {
          transform: translateX(0);
        }
        to {
          transform: translateX(-100%);
        }
      }
      /* ホバー時に動きを止める（パターン2・3）*/
      .slide-paused:hover .slideshow {
        -webkit-animation-play-state: paused;
        animation-play-state: paused;
      }
      /* ホバー時の装飾（パターン3） */
      .content-hover {
        transition: all 0.2s;
        margin-right: 20px;
      }
      .content-hover:hover {
        transform: translateY(-20px);
        border-radius: 0 10%;
        box-shadow: 0 3px 10px 0 #333;
        opacity: 0.8;
        cursor: pointer;
      }


/* モーダルウィンドウ */

      .modal-checkbox {
        display: none;
      }
      
      .modal-open-button {
        padding: 10px 20px;
        color: white;
        cursor: pointer;
        background-color: #1b1b1b;
        border: none;
        border-radius: 5px;
      }
      
      .modal {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        display: none;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: rgb(0 0 0 / 60%);
      }
      
      .close {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 24px;
        cursor: pointer;
        transform: translate(50%, -50%);
      }
      
      .modal-wrapper {
        position: relative;
        width: 80%;
        max-width: 500px;
        max-height: 70%;
        padding: 20px;
        margin: auto;
        overflow: scroll;
        background-color: #FEFEFE;
        border-radius: 5px;
      }
      
      .modal-content h1 {
        margin: 0;
        font-size: 4rem;
        line-height: 1.2em;
        letter-spacing: -0.02em;
      }
      
      .modal-checkbox:checked + .modal {
        display: flex;
      }